---
# Front matter comment to ensure Jekyll properly reads file.
---

$octicons-font-path: "../bower_components/octicons/octicons/";
@import "../bower_components/octicons/octicons/octicons.scss";


// Variables
@import "../bower_components/primer-css/scss/variables";
@import "../bower_components/basecoat/scss/variables"; // Basecoat override
@import "variables"; // Electron override


// Global requirements
@import "../bower_components/primer-css/scss/mixins";

@import "../bower_components/basecoat/scss/mixins/breakpoints";
@import "../bower_components/basecoat/scss/mixins/grid";
@import "../bower_components/basecoat/scss/mixins/clearfix";
@import "../bower_components/basecoat/scss/mixins/grid-framework";


// Basecoat
@import "../bower_components/primer-css/scss/normalize";
@import "../bower_components/primer-css/scss/base";
@import "../bower_components/primer-css/scss/type";
// @import "../bower_components/primer-css/scss/layout"; // not responsive
// @import "../bower_components/primer-css/scss/forms";

@import "../bower_components/basecoat/scss/layout"; // Basecoat override
@import "../bower_components/basecoat/scss/type"; // Basecoat override


// Components
// @import "../bower_components/primer-css/scss/alerts";
// @import "../bower_components/primer-css/scss/avatars";
// @import "../bower_components/primer-css/scss/blankslate";
// @import "../bower_components/primer-css/scss/counter";
@import "../bower_components/primer-css/scss/buttons";
// @import "../bower_components/primer-css/scss/menu";
// @import "../bower_components/primer-css/scss/tabnav";
// @import "../bower_components/primer-css/scss/filter-list";
// @import "../bower_components/primer-css/scss/states";
// @import "../bower_components/primer-css/scss/tooltips";

@import "../bower_components/basecoat/scss/buttons";
// @import "../bower_components/basecoat/scss/animation";
// @import "../bower_components/basecoat/scss/cards";
@import "../bower_components/basecoat/scss/code";
@import "../bower_components/basecoat/scss/footer";
@import "../bower_components/basecoat/scss/grid";
@import "../bower_components/basecoat/scss/icons";
@import "../bower_components/basecoat/scss/navigation";
@import "../bower_components/basecoat/scss/page-headers";
@import "../bower_components/basecoat/scss/section";
@import "../bower_components/basecoat/scss/tables";


// Utilities
@import "../bower_components/primer-css/scss/flex-table";
// @import "../bower_components/primer-css/scss/truncate";
@import "../bower_components/primer-css/scss/utilities/utilities";
@import "../bower_components/basecoat/scss/utility"; // Basecoat override


// Electron -----------------------------------

@import "base";
@import "highlight"; // Syntax highlighting

// Basecoat overrides
@import "basecoat-buttons";
@import "basecoat-code";
@import "basecoat-footer";
@import "basecoat-icons";
@import "basecoat-navigation";
@import "basecoat-page-headers";
@import "basecoat-section";
@import "basecoat-tables";

// Pages
@import "home";
@import "hero";
@import "docs";
@import "blog";
@import "releases";
@import "devtron";
@import "spectron";
@import "userland";
