body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #66595c;
  color: #45828E;
  background-color: #A5ECFA;
}

/* Atom.io Styles
   ------------------------------------------ */

a {
 color: #76C7D7;
 text-decoration: none;
}

a:hover {
  color: #76C7D7;
  text-decoration: underline;
}


/* General Styles
   ------------------------------------------ */

/*.hero h3, .hero h5,
.built-with h3, .built-with h5, .built-with h4,
.get-started h3, .get-started h5,
.electron-does h3, .get-started h5 {
  text-align: center;
}*/

.hero, .built-with, .get-started,
.electron-does {
  text-align: center;
}

section {
  padding: 60px 0;
}

.inline-list {
  list-style: none;
  padding: 0; margin: 0;
}

.inline-list li {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
}

.text-right {
  text-align: right;
}

pre, code {
  text-align: left;
}

/* Sections
   ------------------------------------------ */

/* Header Nav */

header {
  padding: 12px 0;
  background-color: #76C7D7;
}

header a {
  color: #FAF7F3;
}

header a:hover {
  color: #66595c;
}

/* Hero */

.hero {
  padding: 160px 0 100px 0;
}

.hero .mega-octicon {
  font-size: 24px;
}

.electron-word {
  background-image: url('../images/electron-word.png');
  background-position: 0px 0px, center;
  background-size: 571px 86px;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  width: 571px;
  height: 86px;
  display: inline-block;
}

/* Built With */

.built-with {
  background-color: #FAF7F3;
}

/*dumb*/
.build-with ui, .built-with li {
  text-align: left;
}

/* Electron Does */

.electron-does img {
  padding-bottom: 20px;
  max-width: 100%;
}

.other-logo {
  padding-right: 40px;
}


/* Footer
   ------------------------------------------ */

footer {
  padding: 15px 0;
  background-color: #FAF7F3;
}

footer a {
  color: #66595c;
}
