/* General Styles
   ------------------------------------------ */

body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #45828E;
  background-color: #A5ECFA;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a {
 color: #39AEC6;
 text-decoration: none;
}

a:hover {
  color: #39AEC6;
  text-decoration: underline;
}

a.no-hover-dec:hover {
  text-decoration: none;
}

.inline-list {
  list-style: none;
  padding: 0; margin: 0;
}

.inline-list li {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
}

.text-right {
  text-align: right;
}

pre, code {
  text-align: left;
}

code {
  color: #C5F3FC;
  border: none;
  background-color: #076274;
}

/* Sections
   ------------------------------------------ */

section {
  padding: 60px 0;
}

.features {
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}

.features .mega-octicon {
  margin-bottom: 10px;
}

.hero, .built-on, .get-started,
.electron-does, .more-features {
  text-align: center;
}

/* Header Nav */

header {
  padding: 12px 0;
  background-color: #76C7D7;
}

header a {
  color: #FAF7F3;
}

header a:hover {
  color: #FAF7F3;
}

/* Hero */

.hero {
  padding: 160px 0 100px 0;
}

.hero .mega-octicon {
  font-size: 24px;
}

.electron-word {
  background: url('../images/electron-logo-word-lg.png') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 15.3%; /* Keeps aspect ratio. Original img ratio: 980x150. 150/980*100=15.3% */
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

/* More Features */

.more-features {
  background-color: #7BDCEF;
}

.more-features span {
  padding: 20px;
  width: 30px;
  height: 30px;
  border-radius: 990px;
  margin-bottom: 20px;
  background-color: #A5ECFA;
}

.octicon-gift::before {
  position: relative;
  top: -1px;
}

.octicon-tools::before, .octicon-bug::before,
.octicon-evice-desktop::before {
  position: relative;
  left: -1px;
}

/* Built With */

.built-on {
  background-color: #FAF7F3;
}

.built-on li {
  text-align: left;
}

/* Electron Does */

.electron-does img {
  padding-bottom: 20px;
  max-width: 100%;
}

.other-logo {
  width: 72px;
  padding: 10px;
}


/* Footer
   ------------------------------------------ */

footer {
  padding: 15px 0;
  background-color: #FAF7F3;
}
