pre {
  overflow: visible;
  position: relative;
  .btn-clipboard {
    outline: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: .25rem .5rem;
    font-size: 1.2em;
    border: 1px #e5e5e5 solid;
    background-color: transparent;
    border-radius: .25rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.hljs {
  position: relative;
  line-height: 1.6;
  font-size: 1.2em; 
  padding: 10px;
  &::before {
    letter-spacing: inherit;
    content: '';
  }
}
