
<script src="/js/vendor/list.min.js"></script>
<script src="/js/vendor/query-string.js"></script>
<script src="/js/vendor/set-query-string.js"></script>
<script src="/js/vendor/browser-date-formatter.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', createFilterList)
  document.addEventListener('DOMContentLoaded', browserDateFormatter)

  function createFilterList () {
    // look for a filterable list on this page
    var list = document.querySelector('.filterable-list')
    if (!list || !list.parentElement) return

    // inherit initial query from `?q` in query string
    window.filterInput = document.querySelector('.filterable-list-input')
    filterInput.value = queryString.parse(location.search).q || ''

    var opts = {
      listClass: 'filterable-list',
      searchClass: 'filterable-list-input',
      valueNames: [
        'listed-app-name',
        'listed-app-description',
        'listed-app-date',
        'listed-app-keywords'
      ]
    }
    window.filterList = new List(list.parentElement, opts)

    // trigger a search, in case there is an existing value in the text input
    filterList.search(filterInput.value)

    // update the query param every time a search is performed
    filterList.on('updated', function() {
      setQueryString({q: filterInput.value})
    })
  }

</script>


<div class='subtron'>
  <div class='container-narrow'>
    <h1>Apps Built on Electron</h1>
    <p>There are {{appCount}} apps       
      {{#if currentCategory}}
        in {{currentCategory}}.
      {{else}}
        in total.
      {{/if}}
    </p>
  </div>
</div>
<section class='page-section'>

  <div class="col-xs-3 px-4">
    <ul class="filter-list border-bottom">
      <li><strong>Categories</strong></li>
    </ul>
    <ul class="filter-list category-list">
      {{#if currentCategory}}
        <li>
          <a href="/apps" class="filter-item" aria-current="page" id="category-{{this.slug}}">
            <span class="count" title="results">{{appCount}}</span>
            All Categories
          </a>
        </li>
      {{/if}}
      {{#each categories}}
        <li>
          <a href="/apps?category={{this.slug}}" class="filter-item {{className}}" aria-current="page" id="category-{{this.slug}}">
            <span class="count" title="results">{{this.count}}</span>
            {{this.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class='col-xs-9 container-narrow text-center' id="apps">
    <input class="filterable-list-input" placeholder="Filter apps by name, description, keyword, date..." type="search" autofocus="on" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <ul class="mb-4 filterable-list app-list">
      {{#each apps}}
        {{#unless this.disabled}}
          <li class='listed-app'>
            <a href='/apps/{{this.slug}}' title='{{this.name}} - {{app.description}}'>
              <div class='listed-app-logo-wrapper'>
                <img class='listed-app-logo' src='/images/apps/{{this.icon64}}' alt='{{this.name}}'>
              </div>
              <span class='listed-app-name text-gray-dark'>{{this.name}}</span>
              <span class='listed-app-description text-gray-light'>{{this.description}}</span>
              <span class='listed-app-date text-gray-light'>Added&nbsp;<span data-date='{{this.date}}'>{{this.date}}</span></span>
              <span class='listed-app-keywords' style='display:none;'>{{this.keywords}}</span>
            </a>
          </li>
        {{/unless}}
      {{/each}}
    </ul>

    <p class="mt-6">
      <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">Make a Pull Request</a> to add your application.
    </p>
    <hr>
  </div>
</section>
