<style>
  .app-download {
    background: {{app.goodColorOnWhite}}; 
    color: white !important;
  }

  .page-section a {
    color: {{app.goodColorOnWhite}}; 
  }
</style>

<section class="page-section">

  <!-- <nav aria-label="Breadcrumb">
    <ol>
      <li class="breadcrumb-item text-small"><a href="/apps">Apps</a></li>
      <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">{{app.name}}</li>
    </ol>
  </nav> -->
  <div class="container-narrow media-fluid">
    <header class="app-header">
      <img class='app-logo' src='/node_modules/electron-apps/apps/{{app.slug}}/{{app.icon128}}' alt='{{app.name}}'>
      <a class="app-link" href="{{app.website}}">
        <h1 class='app-name'>{{app.name}}</h1>
      </a>
      <p class="app-description">
        {{app.description}}
      </p>
    </header>

    {{#each app.screenshots}}
      <figure class="app-sreenshot">
        <a href="{{../app.website}}">
          <img src="{{imageUrl}}"></img>
        </a>
        {{#if caption}}
          <figcaption class="text-center">
            {{caption}}
          </figcaption>
        {{/if}}
      </figure>
    {{/each}}

    <table class="app-details">
      <tr>
        <td>Category</td>
        <td><a href="/apps?category={{app.categorySlug}}">{{app.category}}</a></td>
      </tr>

      {{#if app.repository}}
        <tr>
          <td>Repository</td>
          <td><a href="{{app.repository}}">{{app.repository}}</a></td>
        </tr>
      {{/if}}

      {{#if app.license}}
        <tr>
          <td>License</td>
          <td>{{app.license}}</td>
        </>
      {{/if}}

      {{#if app.keywords}}
        <tr>
          <td>Keywords</td>
          <td>
            {{#each app.keywords}}
              <a class="app-keyword" href="/apps?q={{this}}">{{this}}</a>
            {{/each}}
          </td>
        </tr>
      {{/if}}

      <!-- {{#if app.locales}}
        <tr>
          <td>Languages</td>
          <td>
            {{#each app.locales}}
              {{this}}
            {{/each}}
          </td>
        </tr>
      {{/if}} -->

      {{#if app.latestRelease}}
        {{#if app.latestRelease.assets}}
          <tr>
            <td>
              Downloads
            </td>
            <td>
              {{#each app.latestRelease.assets}}
                <a class="app-download {{this.platform}}" href="{{this.browser_download_url}}">{{this.name}}</a>
              {{/each}}

              <a href="{{app.latestRelease.url}}" id="view-all-downloads" style="opacity:0.7;font-size:80%;display:none;">View all</a>
            </td>
          </tr>
        {{/if}}
        
        <tr>
          <td>
            Latest Release
          </td>
          <td>
            <a href="{{app.latestRelease.url}}">
              {{app.latestRelease.name}}
              <span class="app-tagname">({{app.latestRelease.tag_name}})</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>Release Notes
          </td>
          <td>
            {{{app.latestRelease.body_html}}}
          </td>
        </tr>
      {{/if}}
    </table>

    {{#if app.readmeCleaned}}
      <div class="app-readme-wrapper">
        <header class="app-readme-header">
          <button class="app-readme-button btn btn-lg btn-outline-themed" type="button" id="display-readme">
            View the {{app.name}} README <span id="display-readme-icon" class="octicon octicon-chevron-down ml-2"></span>
          </button>
        </header>
        <main id="readme" class="app-readme d-none">
          {{{app.readmeCleaned}}}
        </main>
      </div>
    {{/if}}

  </div>
</section>

<script>
  document.getElementById('display-readme').addEventListener('click', function(event) {
    this.classList.add('d-none');
    document.getElementById('readme').classList.remove('d-none');
  });
</script>
