// App page ------------------------------
.app-readme {
  .octicon-link {
    display: none;
  }
}

.app-header {
  position: relative;
  padding-left: 80px; // Leave some space for the logo
}

.app-link {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.app-logo {
  position: absolute;
  left: 0;
  max-width: 64px;
  height: 64px;
}

.app-name {
  margin: 0;
  color: inherit;
  font-size: 2em;
  line-height: 1.1;
}

.app-description {
  margin: .3em 0 0 0;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
}

.app-sreenshot {
  margin: 2rem 0 0 0;
}
