<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  {{#if pageDetails}}
    <meta property="og:type" content="website" />
    {{#if pageDetails.url}}
      <meta property="og:url" content="{{pageDetails.url}}" />
    {{/if}}
    {{#if pageDetails.title}}
      <title>{{pageDetails.title}}</title>
      <meta property="og:title" content="{{pageDetails.title}}" />
    {{/if}}
    {{#if pageDetails.description}}
      <meta property="og:description" content="{{pageDetails.description}}" />
    {{/if}}
    {{#if pageDetails.image}}
      <meta property="og:image" content="{{pageDetails.image}}" />
      <meta name="twitter:card" content="summary_large_image">
    {{else}}
      <meta name="twitter:card" content="summary">
    {{/if}}
    {{#if pageDetails.title}}
      <meta name="twitter:title" value="{{pageDetails.title}}" />
    {{/if}}
    {{#if pageDetails.description}}
      <meta name="twitter:description" value="{{pageDetails.description}}" />
    {{/if}}
    {{#if pageDetails.image}}
      <meta property="twitter:image" content="{{pageDetails.image}}" />
    {{/if}}
    {{#if pageDetails.url}}
      <meta name="twitter:url" value="{{pageDetails.url}}" />
    {{/if}}
  {{/if}}
  <meta name="twitter:site" content="@ElectronJS" />
  <link rel='shortcut icon' href='/images/favicon.ico'/>
  <link rel='stylesheet' href='/styles/index.css'>

  <script src="/scripts/index.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3769691-57', 'auto');
    ga('send', 'pageview');
  </script>
</head>
