.footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 32px; // match height of .footer-mark
  text-align: center;
  border-top: 1px solid $gray-1;
  margin-top: auto; // makes footer sticky (with flexbox)
  border-color: darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;
}

.footer-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  margin-top: -16px;
  margin-left: -16px;
  color: #ccc;

  @include breakpoint(md) {
    display: block;
  }
}

.footer-nav {
  @include breakpoint(md) {
    float: right;
  }
}

.footer-nav-item {
  display: inline-block;

  + .footer-nav-item {
    margin-left: 20px;
  }
}

.footer a {
  color: $main-color-subtle;
  &:hover {
    color: $main-color;
  }
}

.footer-nav {
  @include breakpoint(md) {
    float: left;
  }
}

.footer-nav-item {
  &.icon {
    text-decoration: none !important;
    border: none !important;
    font-size: 130%;
  }

  .devicon-github-plain {
    font-size: 150%;
  }
}

.footer-social {
  @include breakpoint(md) {
    float: right;
  }
}

html[dir="rtl"] .ltr-only {
  display: none;
}

// swap social links and nav for right-to-left languages
html[dir="rtl"] {
  .footer-nav {
    @include breakpoint(md) {
      float: right;
    }
  }

  .footer-social {
    @include breakpoint(md) {
      float: left;
    }
  }
}
