.page-section {
  padding: $spacer3;

  @include breakpoint(sm) { padding: $spacer4; }
  @include breakpoint(md) { padding: $spacer5; }
  @include breakpoint(lg) { padding: $spacer6; }
  @include breakpoint(xl) { padding: $spacer6; }

  .container,
  .container-narrow {
    & > *:first-child {
      margin-top: 0;
    }
  }
}

// more padding
.page-section-spacious {
  padding: $spacer4;
  @include breakpoint(md) { padding: $spacer6; }
  @include breakpoint(lg) { padding: $spacer8; }
  @include breakpoint(xl) { padding: $spacer6 * 2; }
}

.page-section hr {
  margin: $spacer4 0;
  @include breakpoint(md) { margin: $spacer5 0; }
  @include breakpoint(lg) { margin: $spacer6 0; }
  @include breakpoint(xl) { margin: $spacer8 0; }
}

// remove padding so these classes can be used as grid-less container
.container,
.container-narrow {
  padding-left: 0;
  padding-right: 0;
}
.grid {
  padding-left:  ($grid-gutter / 2);
  padding-right: ($grid-gutter / 2);
}

// Shady section

.bg-shade {
  min-height: 0;
  border: 1px solid darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;
  background-image: linear-gradient(#f6f6f6 0, #fff 325px);

  hr {
    border-color: darken($main-bg-color-shade, 12%);
  }
}
