.table-ruled tr {
  border-bottom: 1px solid $border-color;
  &:last-child {
    border-bottom: none;
  }
}

.table-full-width {
  width: 100%;
}

.table-ruled td, .table-ruled th {
  padding: $spacer-2;
  line-height: 2;
  text-align: left;
  font-size: 14px;
}

.table-with-spacious-first-column td:first-child,
.table-with-spacious-second-column td:nth-child(2) {
  @include breakpoint(md) {
    padding-right: $spacer-5;
    white-space: nowrap;
  }
}

.table-roomy-vertical {
  margin: $spacer-2 0;
}
