---
title: Documentation
permalink: /docs/
excerpt: Guides and API reference documentation for the latest Electron release.
redirect_from:
  - /docs/v0.24.0/
  - /docs/v0.25.0/
  - /docs/v0.26.0/
  - /docs/v0.27.0/
  - /docs/v0.28.0/
  - /docs/v0.29.0/
  - /docs/v0.30.0/
  - /docs/v0.31.0/
  - /docs/v0.32.0/
  - /docs/v0.33.0/
  - /docs/v0.34.0/
  - /docs/v0.35.0/
  - /docs/v0.36.0/
  - /docs/v0.36.3/
  - /docs/v0.36.4/
  - /docs/v0.36.5/
  - /docs/v0.36.6/
  - /docs/v0.36.7/
  - /docs/v0.36.8/
  - /docs/v0.36.9/
  - /docs/v0.36.10/
  - /docs/v0.36.11/
  - /docs/v0.37.0/
  - /docs/v0.37.1/
  - /docs/v0.37.2/
  - /docs/v0.37.3/
  - /docs/v0.37.4/
  - /docs/v0.37.5/
  - /docs/v0.37.7/
  - /docs/latest/
layout: default
---

{% assign docs = site.docs | sort: 'sort_title' %}

<div class='subtron'>
  <div class='container-narrow'>
    <h1><span class="mr-3 mr-lg-4">Electron Documentation</span><span class="docs-version">{{ site.data.releases[0].version }}</span></h1>
    <p class="lead mb-3">
      See all of the <a href="{{ site.baseurl }}/docs/all/">docs on one page</a> or check out the <a href="{{ site.baseurl }}/docs/faq/">FAQ</a>.
    </p>
  </div>
</div>

<section class='page-section'>
  <div class='container'>
    <div class="grid">
      <div class="row">

        <div class="col-ms-12 col-lg-4">
          <h2 class="docs-heading pb-3 mb-3"><a class="docs-title" href="{{ site.baseurl }}/docs/guides/"><span class="mega-octicon octicon-book pr-3"></span>Guides</a></h2>
          <ul class="docs-list">
          {% for doc in docs %}
            {% if doc.category == 'Tutorial' %}
              <li>
                <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                <!-- <span class="excerpt">{{ doc.content | strip_html | truncatewords: 50 }}</span> -->
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>

        <div class="col-ms-12 col-lg-4">
          <h2 class="docs-heading pb-3 mb-3"><a class="docs-title" href="{{ site.baseurl }}/docs/api/"><span class="mega-octicon octicon-gear pr-3"></span>API Reference</a></h2>
            <h3>Main Process</h3>
            <ul class="docs-list">
            {% for doc in docs %}
              {% if doc.category == 'API' and site.data.processes[doc.title] == 'Main Process' %}
              <li>
                <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
            <h3>Renderer Process</h3>
            <ul class="docs-list">
            {% for doc in docs %}
              {% if doc.category == 'API' and site.data.processes[doc.title] == 'Renderer Process' %}
              <li>
                <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
            <h3>Both Processes</h3>
            <ul class="docs-list">
            {% for doc in docs %}
              {% if doc.category == 'API' and site.data.processes[doc.title] == 'Main and Renderer Process' %}
              <li>
                <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="col-ms-12 col-lg-4">
          <h2 class="docs-heading pb-3 mb-3"><a class="docs-title" href="{{ site.baseurl }}/docs/development/"><span class="mega-octicon octicon-tools pr-3"></span>Advanced</a></h2>
          <ul class="docs-list">
          {% for doc in docs %}
            {% if doc.category == 'Development' %}
              <li>
                <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
                <!-- <span class="excerpt">{{ doc.content | strip_html | truncatewords: 50 }}</span> -->
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
