---
permalink: /
layout: default
---

  <script src="https://wzrd.in/standalone/ua-parser-js@latest"></script>
  <script src="{{ site.baseurl }}/js/index.js"></script>

  <div class="jumbotron text-center">
    <div class="container">
      <!--<img class='jumbotron-img mb-lg-6 mb-4 mb-sm-2' src='{{ site.baseurl }}/images/hero.png' alt="Electron">
      <img class='jumbotron-img jumbotron-img-hover mb-lg-6 mb-4 mb-sm-2' src='{{ site.baseurl }}/images/hero-hover.png'>-->
      <div class="electron-logo">
        <svg viewBox="0 0 110 110" class="">
          <path class="short-1" d="M40.2,24.3c-14.2-2.6-25.4,0.1-29.9,7.9C7,37.9,8,45.6,12.7,53.8c0.4,0.7,1.3,1,2,0.6c0.7-0.4,1-1.3,0.6-2
          	c-4.2-7.3-5-13.9-2.3-18.6c3.7-6.4,13.7-8.8,26.7-6.4c0.8,0.1,1.6-0.4,1.7-1.2C41.6,25.2,41,24.4,40.2,24.3L40.2,24.3z"/>
          <path class="long-1" d="M20,63.7c5.7,6.3,13.2,12.2,21.7,17.1c20.6,11.9,42.4,15,53.2,7.7c0.7-0.5,0.9-1.4,0.4-2.1
          	c-0.5-0.7-1.4-0.9-2.1-0.4c-9.6,6.6-30.4,3.6-50-7.8C35,73.5,27.8,67.8,22.3,61.7c-0.6-0.6-1.5-0.7-2.1-0.1
          	C19.5,62.2,19.5,63.1,20,63.7L20,63.7z"/>
          <path class="short-2" d="M91.5,62c9.3-11,12.5-22,8.1-29.7c-3.3-5.7-10.2-8.7-19.5-8.8c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5
          	c8.3,0.1,14.2,2.7,16.9,7.3c3.7,6.4,0.8,16.2-7.8,26.3c-0.5,0.6-0.5,1.6,0.2,2.1C90,62.7,91,62.6,91.5,62L91.5,62z"/>
          <path class="long-2" d="M67.6,24.8c-8.4,1.8-17.3,5.3-25.9,10.3C20.5,47.3,6.7,65.4,8.6,78.5c0.1,0.8,0.9,1.4,1.7,1.3
          	c0.8-0.1,1.4-0.9,1.3-1.7C9.9,66.4,23,49.3,43.2,37.6c8.3-4.8,16.9-8.2,25-9.9c0.8-0.2,1.3-1,1.2-1.8C69.2,25.1,68.4,24.6,67.6,24.8
          	L67.6,24.8z"/>
          <path class="short-3" d="M33.2,87.6c4.9,13.6,12.8,21.9,21.7,21.9c6.5,0,12.6-4.4,17.3-12.3c0.4-0.7,0.2-1.6-0.5-2.1
          	c-0.7-0.4-1.6-0.2-2.1,0.5c-4.2,7-9.4,10.8-14.7,10.8c-7.4,0-14.4-7.4-18.9-19.9c-0.3-0.8-1.1-1.2-1.9-0.9S33,86.8,33.2,87.6
          	L33.2,87.6z"/>
          <path class="long-3" d="M77.6,84.9c2.5-8,3.9-17.3,3.9-26.9C81.5,33.9,73,13.1,61,7.8c-0.8-0.3-1.6,0-2,0.8c-0.3,0.8,0,1.6,0.8,2
          	C70.5,15.3,78.5,35,78.5,58c0,9.3-1.3,18.3-3.7,26c-0.2,0.8,0.2,1.6,1,1.9C76.5,86.1,77.4,85.7,77.6,84.9L77.6,84.9z"/>
          <path class="loop-1" d="M11.9,90.5c3.9,0,7-3.1,7-7s-3.1-7-7-7s-7,3.1-7,7S8,90.5,11.9,90.5L11.9,90.5z M11.9,87.5c-2.2,0-4-1.8-4-4
          	s1.8-4,4-4s4,1.8,4,4S14.1,87.5,11.9,87.5L11.9,87.5z"/>
          <path class="loop-2" d="M55,15c3.9,0,7-3.1,7-7s-3.1-7-7-7s-7,3.1-7,7S51.1,15,55,15L55,15z M55,12c-2.2,0-4-1.8-4-4s1.8-4,4-4
          	s4,1.8,4,4S57.2,12,55,12L55,12z"/>
           <path class="loop-3" d="M98,90.5c3.9,0,7-3.1,7-7c0-3.9-3.1-7-7-7c-3.9,0-7,3.1-7,7C91,87.3,94.1,90.5,98,90.5L98,90.5z M98,87.5
          	c-2.2,0-4-1.8-4-4s1.8-4,4-4c2.2,0,4,1.8,4,4S100.2,87.5,98,87.5L98,87.5z"/>
          <path class="dot" d="M56,62.9c-2.7,0.6-5.4-1.1-6-3.9c-0.6-2.7,1.1-5.4,3.9-6c2.7-0.6,5.4,1.1,6,3.9C60.5,59.6,58.8,62.3,56,62.9z"
          	/>
        </svg>
      </div>
      <p class='jumbotron-lead'>Build cross platform desktop apps
        <span class='jumbotron-lead-muted'>with web technologies</span>
      </p>
    </div>
  </div>

  <div class="minitron py-4 text-center">
    <div class="container">
      <div id="electron-versions" class="electron-vers">
        <span class="main-ver">Electron: <strong>{{ site.latest_version }}</strong></span>
        <span class="dep-ver">Node: <strong>{{ site.current_node }}</strong></span>
        <span class="dep-ver">Chromium: <strong>{{ site.current_chrome }}</strong></span>
        <span class="dep-ver">V8: <strong>{{ site.current_v8 }}</strong></span>
      </div>
    </div>
  </div>

  <section class="page-section page-section-spacious" id='electron'>
    <div class="container-narrow">
      <h1 class="text-center-sm">It's easier than you think</h1>
      <p class="lead text-center-sm">
        If you can build a website, you can build a desktop app. Electron is a
        framework for creating native applications with web technologies like
        JavaScript, HTML, and CSS. It takes care of the hard parts so you can
        focus on the core of your application.
      </p>

      <hr>

      <div class="row text-center text-small mt-6">
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" src="{{ site.baseurl }}/images/web-tech.svg" aria-hidden>
          <h3 class="mb-2">Web Technologies</h3>
          <p>Electron uses <strong>Chromium</strong> and <strong>Node.js</strong> so you can build your app with <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript.</strong></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" src="{{ site.baseurl }}/images/open-source.svg" aria-hidden>
          <h3 class="mb-2">Open Source</h3>
          <p>Electron is an open source project maintained by <strong>GitHub</strong> and an active <strong>community</strong> of contributors.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" src="{{ site.baseurl }}/images/cross-platform.svg" aria-hidden>
          <h3 class="mb-2">Cross Platform</h3>
          <p>Compatible with <strong>Mac</strong>, <strong>Windows</strong>, and <strong>Linux</strong>, Electron apps build and run on three platforms.</p>
        </div>
      </div>

      <div class="row text-center mt-6 mb-4">
        <h2>The hard parts made easy</h2>
      </div>

      <div class="row text-center text-small mt-3">
        <div class='col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0'>
          <a class="hero-link" href="{{ site.baseurl }}/api/auto-updater/">
            <span class="octicon hero-octicon octicon-squirrel" aria-hidden></span>
            Automatic updates
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0'>
          <a class="hero-link" href="{{ site.baseurl }}/api/menu/">
            <span class="octicon hero-octicon octicon-device-desktop" aria-hidden></span>
            Native menus<br>&amp; notifications
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0'>
          <a class="hero-link" href="{{ site.baseurl }}/api/crash-reporter/">
            <span class="octicon hero-octicon octicon-bug" aria-hidden></span>
            App crash<br>reporting
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0'>
          <a class="hero-link" href="{{ site.baseurl }}/api/content-tracing/">
            <span class="octicon hero-octicon octicon-tools" aria-hidden></span>
            Debugging<br>&amp; profiling
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0'>
          <a class="hero-link" href="{{ site.baseurl }}/development/build-instructions-windows/">
            <span class="octicon hero-octicon octicon-gift" aria-hidden></span>
            Windows installers
          </a>
        </div>
      </div>

    </div>
  </section>


  <section class='page-section page-section-spacious bg-shade' id='get-started'>
    <div class='container-narrow text-center'>
      <h1>Get started</h1>
      <p class="lead">
        To get started with Electron, check out the resources below. Learn how to wrap your web app with Electron, access all the APIs, and generate installers.
      </p>


      <div class='row mt-8'>
        <div class='col-xs-12 col-md-5'>
          <a href="https://github.com/electron/electron-api-demos/releases">
            <img class="app-frame" src='{{ site.baseurl }}/images/electron-api-demos.png'>
          </a>
        </div>
        <div class='col-xs-12 col-md-7 text-left'>
          <h3 class="mt-1 mb-3">Interact with the Electron APIs</h3>
          <p>The <a href="https://github.com/electron/electron-api-demos">Electron API Demos app</a> interactively demonstrates core features of the API. You can use the app to see what's possible with Electron and learn how to create a basic app with sample code.</p>
          <p>
            <a id="download-latest-release" class="btn btn-lg btn-outline-themed" href="https://github.com/electron/electron-api-demos/releases">
              <span class="octicon octicon-desktop-download mr-1"></span>
              <span class="label">Download from GitHub</span>
            </a>
            <span id="download-alternatives" class="text-sm" style="display:none;">
              or
              <a href="https://github.com/electron/electron-api-demos/releases">view all releases</a>
             on GitHub
            </span>
          </p>
        </div>
      </div>

      <h3 class="mt-6 mt-md-8">Or dive deeper and read the <a href='{{ site.baseurl }}/docs/'>documentation</a></h3>
      <p>If you need any help, ask in the <a href='https://discuss.atom.io/c/electron'>Discuss</a> forum or our <a href='http://atom-slack.herokuapp.com/'>Slack</a> channel.
      <br>Follow <a href="https://twitter.com/electronjs">@ElectronJS</a> on Twitter for important announcements.
      <br>Need to privately reach out? Email <a href="mailto:electron@github.com">electron@github.com</a>.</p>

      <hr>

      <h3 class="mb-3">Spin up the <a href='https://github.com/atom/electron-quick-start' target='_blank'>Quick Start</a> app to see Electron in action:</h3>
      <figure class="highlight highlight-dark text-left my-4">
<pre><code><span class="c1"># Clone the Quick Start repository</span>
$ git clone https://github.com/atom/electron-quick-start

<span class="c1"># Go into the repository</span>
$ cd electron-quick-start

<span class="c1"># Install the dependencies and run</span>
$ npm install && npm start</code></pre>
      </figure>
      <p>You can also checkout the full <a href='http://electron.atom.io/docs/latest/tutorial/quick-start/'>Quick Start Tutorial</a> or download a <a href='https://github.com/atom/electron/releases' target='_blank'>prebuilt binary</a>.</p>

      <h3 class="mt-8">Or dive deeper and read the <a href='{{ site.baseurl }}/docs/'>documentation</a></h3>
      <p>If you need any help, ask in the <a href='https://discuss.atom.io/c/electron'>Discuss</a> forum or our <a href='http://atom-slack.herokuapp.com/'>Slack</a> channel.</p>

    </div>
  </section>

  <section class='page-section page-section-spacious' id='apps'>
    <div class="container-narrow text-center">
      <h1>Apps built on Electron</h1>
      <p class="lead">
        With Electron, creating a desktop application for your company or idea is easy. Initially developed for GitHub's <a href='https://atom.io' target='_blank'>Atom editor</a>, Electron has since been used to create applications by companies like Microsoft, Facebook, Slack, and Docker.
      </p>

      <hr>

      <div>
        <div class="mb-4">
          {% for app in site.data.apps %}
            {% if app.featuredOnHomepage %}
              {% include featured_app.html %}
            {% endif %}
          {% endfor %}
        </div>
        <p class="mt-6">
          <a href='{{ site.baseurl }}/apps'>View more apps</a>
            or
           <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">submit your own</a>.
        </p>
      </div>

      <hr>

      <div>
        <h2>Great ideas brought to life</h2>
        <h3 class="mb-4">Interesting open source apps built on Electron.</h3>
        {% include featured_open_source_apps.html %}
      </div>

    </div>
  </section>
