<div class='text-center'>
  <span class="d-inline-block text-left">

    <span class="octicon octicon-pencil mr-2"></span>
    {{localized.footer.see_something}}
    <a href='https://github.com/electron/electron/tree/master{{page.url}}.md'>{{localized.footer.propose_change}}</a>
    <br>

    <span class="octicon octicon-zap mr-2"></span>
    {{localized.footer.need_different_version}}
    <a href='/docs/versions'>{{localized.footer.see_available_versions}}</a>
    <br>

    <span class="octicon octicon-book mr-2"></span>
    {{localized.footer.want_something_searchable}}
    <a href='/docs/all'>{{localized.footer.view_all_docs}}</a>

  </span>
</div>