<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-nav-item" href="/">Electron</a>
      <a class="footer-nav-item" href="/docs">{{localized.nav.docs}}</a>
      <a class="footer-nav-item" href="/blog">{{localized.nav.blog}}</a>
      <a class="footer-nav-item" href="/community">{{localized.nav.community}}</a>
      <a class="footer-nav-item" href="/apps">{{localized.nav.apps}}</a>
      <a class="footer-nav-item" href="/releases/stable">{{localized.nav.releases}}</a>
      <a class="footer-nav-item" href="https://github.com/electron/electron/tree/master/CODE_OF_CONDUCT.md">{{localized.nav.code_of_conduct}}</a>
      <a class="footer-nav-item" href="/languages">{{localized.nav.languages}}</a>
      <a class="footer-nav-item" href="/contact">{{localized.nav.contact}}</a>
    </nav>

    <span class="footer-social">
      <a class="footer-nav-item icon" href="https://github.com/electron" title="Github Organization"><i class="devicon-github-plain vertical-middle"></i></a>
      <a class="footer-nav-item icon" href="https://twitter.com/electronjs" title="@electronjs on Twitter"><i class="devicon-twitter-plain vertical-middle"></i></a>
    </span>
  </div>
</footer>
