<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta content='#2f3241' name='theme-color' />

  <meta property="og:type" content="website" />

  {{#if page.title}}
    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.title}}" />
    <meta name="twitter:title" value="{{page.title}}" />
  {{/if}}

  {{#if page.url}}
    <meta property="og:url" content="{{page.url}}" />
    <meta name="twitter:url" value="{{page.url}}" />
  {{/if}}

  {{#if page.description}}
    <meta property="og:description" content="{{page.description}}" />
    <meta name="twitter:description" value="{{page.description}}" />
  {{/if}}

  {{#if page.image}}
    <meta property="og:image" content="{{page.image}}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{page.image}}" />
  {{else}}
    <meta name="twitter:card" content="summary">
  {{/if}}

  <!-- consumed by scripts/get-localized-strings -->
  <meta name="localized.clipboard.copy" content="{{localized.clipboard.copy}}" />
  <meta name="localized.clipboard.copy_to_clipboard" content="{{localized.clipboard.copy_to_clipboard}}" />
  <meta name="localized.clipboard.copied" content="{{localized.clipboard.copied}}" />

  <meta name="twitter:site" content="@ElectronJS" />
  <link rel='shortcut icon' href='/images/favicon.ico'/>
  <link rel="alternate" type="application/rss+xml" title="Electron Blog" href="https://electronjs.org/blog.xml" />
  <link rel="alternate" type="application/rss+xml" title="Electron Releases" href="https://electronjs.org/releases.xml" />
  <link rel='stylesheet' href='/styles/index.css'>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3769691-57', 'auto');
    ga('send', 'pageview');
  </script>
</head>
