<div id="kb-shortcut-dialog" class="kb-shortcut docs-container-lg">
  <div class="kb-shortcut-content">
    <div class="kb-shortcut-header">
      <span class="octicon octicon-x close"></span>
      <h2>{{localized.keyboard_modal.title}}</h2>
    </div>
    <div class="kb-shortcut-body">
      <table class="table-ruled">
        <thead>
          <tr>
            <th>{{localized.keyboard_modal.key}}</th>
            <th>{{localized.keyboard_modal.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><kbd>/</kbd></td>
            <td>{{localized.keyboard_modal.focus_search}}</td>
          </tr>
          <tr>
            <td><kbd>Esc</kbd></td>
            <td>{{localized.keyboard_modal.focus_and_clear}}</td>
          </tr>
          <tr>
            <td><kbd>↓</kbd></td>
            <td>{{localized.keyboard_modal.scroll_down}}</td>
          </tr>
          <tr>
            <td><kbd>↑</kbd></td>
            <td>{{localized.keyboard_modal.scroll_up}}</td>
          </tr>
          <tr>
            <td><kbd>Enter</kbd></td>
            <td>{{localized.keyboard_modal.open}}</td>
          </tr>
          <tr>
            <td class="no-wrap darwin-only"><kbd>cmd</kbd><kbd>Enter</kbd></td>
            <td class="no-wrap win32-only linux-only"><kbd>Ctrl</kbd>+<kbd>Enter</kbd></td>
            <td>{{localized.keyboard_modal.open_new_tab}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
