<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="octicon octicon-x close"></span>
      <h2>Keyboard Shortcuts</h2>
    </div>
    <div class="modal-body">
      <table class="table-ruled">
        <thead>
          <tr>
            <th>Key</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><kbd>/</kbd></td>
            <td>{{localized.keyboard_modal.focus_search}}</td>
          </tr>
          <tr>
            <td><kbd>Esc</kbd></td>
            <td>{{localized.keyboard_modal.focus_and_clear}}</td>
          </tr>
          <tr>
            <td><kbd>↓</kbd></td>
            <td>{{localized.keyboard_modal.scroll_down}}</td>
          </tr>
          <tr>
            <td><kbd>↑</kbd></td>
            <td>{{localized.keyboard_modal.scroll_up}}</td>
          </tr>
          <tr>
            <td><kbd>Enter</kbd></td>
            <td>{{localized.keyboard_modal.open}}</td>
          </tr>
          <tr>
            <td><kbd>cmdOrCtrl</kbd>+<kbd>Enter</kbd></td>
            <td>{{localized.keyboard_modal.open_new_tab}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
