<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Keyboard Shortcuts</h2>
    </div>
    <div class="modal-body">
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><kbd>/</kbd></td>
            <td>Focuses the search input.</td>
          </tr>
          <tr>
            <td><kbd>esc</kbd></td>
            <td>Focuses the search input and clears it.</td>
          </tr>
          <tr>
            <td><kbd>down</kbd></td>
            <td>
              Adds an <code>active</code> class to the next (visible) hit. Only
              applies when the search input contains a value.
            </td>
          </tr>
          <tr>
            <td><kbd>up</kbd></td>
            <td>
              Adds an <code>active</code> class to the previous (visible) hit.
              If already on the first search hit, the search input is focused.
              Only applies when the search input contains a value.
            </td>
          </tr>
          <tr>
            <td><kbd>enter</kbd></td>
            <td>
              Sets <code>window.location</code> to the <code>href</code> of the
              first <code>&lt;a&gt;</code> tag in the current
              <code>.active</code> hit, if present.
            </td>
          </tr>
          <tr>
            <td><kbd>cmdOrCtrl</kbd>+<kbd>Enter</kbd></td>
            <td>Opens the window in new tab and focus it.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
