version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "13:00"
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: instantsearch.js
    versions:
    - ">= 4.a"
    - "< 5"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "13:00"
  open-pull-requests-limit: 99
