---
layout: default
---

  <div class="jumbotron text-center">
    <div class="container">
      <img class='jumbotron-img mb-lg-6 mb-4 mb-sm-2' src='{{ site.baseurl }}/images/hero.png' alt="Electron">
      <img class='jumbotron-img jumbotron-img-hover mb-lg-6 mb-4 mb-sm-2' src='{{ site.baseurl }}/images/hero-hover.png'>
      <p class='jumbotron-lead'>Build cross platform desktop apps
        <span class='jumbotron-lead-muted'>with web technologies</span>
      </p>
    </div>
  </div>

  <!-- <div class="minitron py-4 text-center">
    <div class="container">
      <div id="electron-versions" class="electron-vers">
        <span class="main-ver">Electron: <strong>{{ site.latest_version }}</strong></span>
        <span class="dep-ver">Node: <strong>{{ site.current_node }}</strong></span>
        <span class="dep-ver">Chromium: <strong>{{ site.current_chrome }}</strong></span>
        <span class="dep-ver">V8: <strong>{{ site.current_v8 }}</strong></span>
      </div>
    </div>
  </div> -->

  <section class="page-section text-small" id='electron'>
    <div class="container-narrow">
      <h1 class="text-center">Electron what + why</h1>
      <p class="lead text-center">
        If you can build a website, you can build a desktop app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et lobortis enim, at aliquet risus. Aliquam eu laoreet arcu. Phasellus faucibus dolor ac dictum efficitur. Ut hendrerit mauris ac tincidunt.
      </p>

      <hr>

      <div class="row text-center mt-6">
        <div class="col-xs-12 col-sm-4">
          <img class="featurette-illo mb-2" src="{{ site.baseurl }}/images/browser.png">
          <h3 class="mb-2">Web Tech</h3>
          <p>Use HTML, CSS, and JavaScript with Chromium and Node.js to build your app.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="featurette-illo mb-2" src="{{ site.baseurl }}/images/fork.png" alt="">
          <h3 class="mb-2">Open Source</h3>
          <p>Electron is open source; maintained by GitHub and an active community.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="featurette-illo mb-2" src="{{ site.baseurl }}/images/os-box.png" alt="" >
          <h3 class="mb-2">Cross Platform</h3>
          <p>Electron apps build and run on Mac, Windows, and Linux.</p>
        </div>
      </div>

      <div class="row text-center mt-6 mb-4">
        <h2>The hard parts made easy</h2>
      </div>

      <div class="row text-center mt-3">
        <div class='col-xs-12 col-sm-2 offset-sm-1'>
          <span class="octicon hero-octicon octicon-squirrel" aria-hidden></span>
          Automatic updates
        </div>
        <div class='col-xs-12 col-sm-2'>
          <span class="octicon hero-octicon octicon-bug" aria-hidden></span>
          Crash reporting
        </div>
        <div class='col-xs-12 col-sm-2'>
          <span class="octicon hero-octicon octicon-gift" aria-hidden></span></span>
          Windows installers
        </div>
        <div class='col-xs-12 col-sm-2'>
          <span class="octicon hero-octicon octicon-tools" aria-hidden></span>
          Debugging &amp; profiling
        </div>
        <div class='col-xs-12 col-sm-2'>
          <span class="octicon hero-octicon octicon-device-desktop" aria-hidden></span>
          Native menus &amp; notifications
        </div>
      </div>

    </div>
  </section>

  <section class='page-section bg-shade' id='apps'>
    <div class="container-narrow text-center">
      <h1>Apps built on Electron</h1>
      <p class="lead">
        With Electron, creating a desktop application for your company or idea is easy. Initially developed for GitHub's <a href='https://atom.io' target='_blank'>Atom editor</a>, Electron has since been used to create applications by companies like Microsoft, Facebook, Slack, and Docker.
      </p>

      <hr>

      <div>
        <div class="mb-4">
          {% for app in site.data.apps %}
            {% if app.featuredOnHomepage %}
              {% include featured_app.html %}
            {% endif %}
          {% endfor %}
        </div>
        <p class="mt-6">
          <a href='{{ site.baseurl }}/apps'>View more apps</a>
            or
           <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">submit your own</a>.
        </p>
      </div>

      <hr>

      <div>
        <h2>Developers bring ideas to life</h2>
        <h3 class="mb-4">Interesting open source apps are built on Electron.</h3>
        {% include featured_open_source_apps.html %}
      </div>

    </div>
  </section>

  <section class='page-section' id='get-started'>
    <div class='container-narrow text-center'>
      <h1>Get started with Electron</h1>
      <p class="lead">
        To get started with Electron, check out the resources below. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et lobortis enim, at aliquet risus. Aliquam eu laoreet arcu. Phasellus faucibus dolor ac dictum efficitur. Ut hendrerit mauris ac tincidunt.
      </p>

      <hr>

      <h3 class="mb-5">Spin up the <a href='https://github.com/atom/electron-quick-start' target='_blank'>Quick Start</a> app to see Electron in action:</h3>
      <figure class="highlight highlight-dark text-left my-4">
<pre><code><span class="c1"># Clone the Quick Start repository</span>
$ git clone https://github.com/atom/electron-quick-start

<span class="c1"># Go into the repository</span>
$ cd electron-quick-start

<span class="c1"># Install the dependencies and run</span>
$ npm install && npm start</code></pre>
      </figure>
      <p>You can also checkout the full <a href='http://electron.atom.io/docs/latest/tutorial/quick-start/'>Quick Start Tutorial</a> or download a <a href='https://github.com/atom/electron/releases' target='_blank'>prebuilt binary</a>.</p>

      <hr>

      <div class='row'>
        <h3 class="mb-5">Learn the <a href="/docs/#api-reference">Electron API</a> with ease</h3>
        <div class='col-xs-12 col-md-5'>
          <img class="app-frame" src='{{ site.baseurl }}/images/electron-api-demos.png'>
        </div>
        <div class='col-xs-12 col-md-7 text-left'>
          <p><strong>Electron API Demos</strong> is a desktop app that interactively and with sample code demonstrates core features of the Electron API. Use this app to see what you can do with Electron.js and use the <a href="https://github.com/electron/electron-api-demos">source code</a> to learn how to create a basic Electron app.</p>
          <p>
            <a href="https://github.com/electron/electron-api-demos/releases">Download</a>
          </p>
        </div>
      </div>

      <hr>

      <h3>Or dive deeper and read the <a href='/docs/latest'>documentation</a></h3>
      <p>If you need any help, ask in the <a href='https://discuss.atom.io/c/electron'>Discuss</a> forum or our <a href='http://atom-slack.herokuapp.com/'>Slack</a> channel.</p>

    </div>
  </section>
