{{!< main}}

<div class='subtron text-left'>
  <!-- <h1><span class="mr-3 mr-lg-4">Electron Documentation</span><span class="docs-version">{{electronLatestStableVersion}}</span></h1> -->

  <div class='container-narrow'>

    <h4 class="docs-breadcrumbs">
      <a href='/'>Electron {{electronLatestStableVersion}}</a> /
      <a href='/docs/'>Docs</a> /
      {{#if category}}
        {{category}}
      {{else if doc}}
        <a href="/docs/{{doc.category}}">{{doc.categoryFancy}}</a> / {{doc.title}}
      {{else if viewingAllDocs}}
        All
      {{/if}}
    </h4>
  </div>
</div>

<section class='page-section docs strong-headers'>
  <div class='container-narrow'>
    {{{body}}}
    <hr>
    {{> docs_footer}}
  </div>
</section>
