<!DOCTYPE html>
<html lang="{{currentLocale}}" dir="{{languageDirection}}">
  {{> head}}
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}
    <div id="hits">
      <div class="hits-container" id="api-hits" title="APIs"></div>
      <div class="hits-container" id="tutorial-hits" title="Tutorials"></div>
      <div class="hits-container" id="package-hits" title="Packages"></div>
      <div class="hits-container" id="app-hits" title="Apps"></div>
    </div>
    <div id="refinement-list"></div>
    {{> kb_shortcut_dialog}}
    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
        for(let registration of registrations) {
          registration.unregister()
        }
      })
    }
    </script>
    <script src="{{static-asset "js" "index.js"}}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
      apiKey: 'c9e8f898b3b32afe40f0a96637e7ea85',
      indexName: 'electronjs',
      inputSelector: '#search-input',
      debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
  </body>
</html>
