<!DOCTYPE html>
<html lang="{{currentLocale}}" dir="{{languageDirection}}">
  {{> head}}
  <body>
    {{> header}}
    {{{body}}}
    <div id="hits">
      <div class="hits-container" id="api-hits" title="APIs"></div>
      <div class="hits-container" id="tutorial-hits" title="Tutorials"></div>
      <div class="hits-container" id="package-hits" title="Packages"></div>
      <div class="hits-container" id="app-hits" title="Apps"></div>
    </div>
    <div id="refinement-list"></div>
    {{> footer}}
    {{> anchor_links}}
    <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
        for(let registration of registrations) {
          registration.unregister()
        }
      })
    }
    </script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
