<!DOCTYPE html>
<html lang="{{currentLocale}}" dir="{{languageDirection}}">
  {{> head}}
  <body>
    {{> header}}
    {{{body}}}
    <div id="hits" class="home-hits-container">
      <div id="app-hits" class="home-app-hits"></div>
      <div id="api-hits" class="home-api-hits"></div>
      <div id="package-hits" class="home-package-hits"></div>
      <div id="tutorial-hits" clas="home-tutorial-hits"></div>
    </div>
    <div id="refinement-list"></div>
    {{> footer}}
    {{> anchor_links}}
    <script src="/scripts/index.js"></script>
  </body>
</html>
