<div class='subtron'>
  <div class='container-narrow'>
    <h1>{{localized.releases.title}}</h1>
  </div>
</div>

<section class='page-section'>
  <div class='container-narrow'>
    <!-- <h3>Tip: Use Electron from the command line</h3>
    <p>Installing the <code>electron</code> module as a development dependency in your project will let you use Electron from the command line at specific versions. More information on the <a href="https://github.com/electron-userland/electron-prebuilt">module's repository</a>.</p>

    <figure class="highlight highlight-dark text-left my-4">
      <pre><code>$ npm install --save-dev electron
<span class="c1"># Launch from inside your project's directory:</span>
$ ./node_modules/.bin/electron .</code></pre>
    </figure>

    <hr> -->

    <div class="text-center release-types">
      <a class="{{#eq releasesPage.type 'normal'}}active{{/eq}}" href="/releases?type=normal"><span class="octicon octicon-clock mr-1"></span> {{localized.releases.regular_releases}}</a>
      <a class="ml-6 {{#eq releasesPage.type 'nightly'}}active{{/eq}}" href="/releases?type=nightly"><span class="octicon octicon-calendar mr-1"></span> {{localized.releases.nightly_releases}}</a>
    </div>

    <hr>

    <div class="releases">
      {{#each releasesPage.page.data}}
        <h2 id="{{this.version}}">
          <a href="#{{this.version}}">Electron {{this.version}}</a>
          <em data-date="{{this.published_at}}" data-format="%B %d, %Y">{{this.published_at}}</em>
          <em class="ltr-only">(<span data-date="{{this.published_at}}"></span>)</em>
          <a href="{{this.html_url}}" class="octicon-wrapper"><span class="octicon octicon-mark-github vertical-middle"></span></a>
        </h2>

        {{{this.body_html}}}

        <hr>
      {{/each}}
    </div>

    <nav class="paginate-container" aria-label="Pagination">
      <div class="pagination text-center">
        {{#each releasesPage.pagination}}
          {{#eq this.type "NEXT_PAGE_LINK"}}
            <a class="next_page" rel="next" href="/releases?{{this.query}}" aria-label="{{@root/localized.releases.next_page}}">{{@root/localized.releases.next}}</a>
          {{/eq}}
          {{#eq this.type "PREVIOUS_PAGE_LINK"}}
            <a class="previous_page" rel="previous" href="/releases?{{this.query}}" aria-label="{{@root/localized.releases.previous_page}}">{{@root/localized.releases.previous}}</a>
          {{/eq}}
          {{#eq this.type "PAGE"}}
            <a href="/releases?{{this.query}}" aria-label="{{@root/localized.releases.page}} {{this.value}}" class="{{#if this.isActive}}current selected{{/if}}">{{this.value}}</a>
          {{/eq}}
          {{#eq this.type "ELLIPSIS"}}
            <span class="gap">…</span>
          {{/eq}}
        {{/each}}
      </div>
    </nav>

    <div class="text-center">
      <a href="https://github.com/electron/electron/releases"><span class="octicon octicon-tag mr-1"></span>{{localized.releases.all_releases}}</a>
      <a class="ml-4" href="#"><span class="octicon octicon-arrow-up mr-1"></span>{{localized.releases.back_to_index}}</a>
    </div>
  </div>
</section>
