---
layout: default
---

<div class='subtron'>
  <div class='container-narrow'>
    <h1>Electron Releases</h1>
    <p>
      {% for release in site.data.releases %}
      <a class='releases-tag' href='{{ release.html_url }}'>{{ release.version }}</a>
      {% endfor releases %}
    </p>
    <p>
      <a href="https://github.com/electron/electron/releases"><span class="octicon octicon-tag mr-1"></span>All Releases</a>
    </p>
  </div>
</div>

<section class='page-section'>
  <div class='container-narrow'>
    <h3>Tip: Use Electron from the command line</h3>
    <p>Installing the <code>electron</code> module as a development dependency in your project will let you use Electron from the command line at specific versions. More information on the <a href="https://github.com/electron-userland/electron-prebuilt">module's repository</a>.</p>

    <figure class="highlight highlight-dark text-left my-4">
      <pre><code>$ npm install --save-dev electron
<span class="c1"># Launch from inside your project's directory:</span>
$ ./node_modules/.bin/electron .</code></pre>
    </figure>

    <hr>

    <div class="releases">
      {{ content }}
    </div>

    <div class="text-center">
      <a href="https://github.com/electron/electron/releases"><span class="octicon octicon-tag mr-1"></span>All Releases</a>
      <a class="ml-4" href="#"><span class="octicon octicon-arrow-up mr-1"></span>Back to index</a>
    </div>
  </div>
</section>
