---
title: Userland
permalink: /userland/
layout: default
---

{% include userland_header.html %}

<section class='page-section'>
  <div class='container'>
    <p>
      "Userland" is where people in software communities come together to share tools and ideas.
      The term originated in the Unix community, where it referred to
      any program that ran outside of the kernel, but today it means something more.
      When people in today's Javascript community refer to userland, they're usually
      talking about the <a href="http://npm.im">npm package registry</a>. This is where the majority of experimentation and
      innovation happens, while Node and the JavaScript language (like the Unix kernel) retain
      a relatively small and stable set of core features.
    </p>

    <p>
      Like Node, Electron has a small set of core APIs; these provide
      the basic features needed for developing multi-platform desktop applications.
      This design philosophy allows Electron to remain a flexible tool without being
      overly prescriptive about how it should be used. Userland enables users to
      create and share tools that provide additional functionality on top of what is
      available in Electron "core".
    </p>

    <p>
      We analyzed metadata from 15,000 public GitHub repositories
      that depend on <code>electron</code> or <code>electron-prebuilt</code>. To collect
      this data, we used the GitHub API,
      the <a href="https://libraries.io/api">Libraries.io API</a>,
      and the npm registry.
      All of the tools used to collect this data are open-source. To find out more
      about how this data is collected, see <a href="https://github.com/electron/electron-userland-reports">electron/electron-userland-reports</a>
    </p>

    <ul class="report-list">
    {% for thing in site.data.userland %}
      {% for report in thing %}
        {% if report.title %}
          <li>
            <a href="{{site.baseurl}}/userland/{{report.slug}}" class="inner">
              <h3>{{report.title}}</h3>
              <p>{{report.description}}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>

  </div>
</section>
