<section class='page-section error-page'>
  <div class='container-narrow text-center py-md-8'>
    <h1>404</h1>
    <p class="lead">
      {{#if message}}
        {{message}}
      {{else}}
        {{localized._404.page_not_found}}
      {{/if}}

      {{localized._404.if_this_is_an_error}}
      <a href="https://github.com/electron/electron.atom.io/issues/new?title=404%20for%20{{page.path}}&body=The%20following%20route%20is%20returning%20a%20404%20HTTP%20status%20code%3A%20{{page.path}}">{{localized._404.please_file_an_issue}}</a>.
    </p>
  </div>
</section>