<div class='py-7 py-md-8 py-lg-9 error-page PRIMER-REMOVE-ME'>
  <div class='container-lg text-center py-md-8'>
    <h1 class="f0-light">404</h1>
    <p class="lead">
      {{#if message}}
        {{message}}
      {{else}}
        {{localized._404.page_not_found}}
      {{/if}}
    </p>
  </div>
</div>
