<section class="page-section">

  <nav aria-label="Breadcrumb">
    <ol>
      <li class="breadcrumb-item text-small"><a href="/apps">Apps</a></li>
      <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">{{app.name}}</li>
    </ol>
  </nav>
  <div class="container-narrow media-fluid">
    <h1><a href="{{app.website}}">{{app.name}}</a></h1>

    <h3>{{app.description}}</h3>

    {{#if app.screenshots}}
      {{#each app.screenshots}}
        <img src="{{this.imageUrl}}"></img>
      {{/each}}
    {{else}}
      <h4>No screenshots available</h4>
    {{/if}}

    <div>
      <strong>Category</strong> <a href="/apps?category={{app.categorySlug}}">{{app.category}}</a>
    </div>

    {{#if app.repository}}
      <div>
        <strong>Source Code</strong> <a href="{{app.repository}}">{{app.repository}}</a>
      <div>
    {{/if}}

    {{#if app.license}}
      <div>
        <strong>License</strong> {{app.license}}
      </div>
    {{/if}}

    {{#if app.keywords}}
      <div>
        <strong>Keywords</strong>
        {{#each app.keywords}}
          {{this}}
        {{/each}}
      </div>
    {{/if}}

    {{#if app.locales}}
      <div>
        <strong>Languages</strong>
        {{#each app.locales}}
          {{this}}
        {{/each}}
      </div>
    {{/if}}
    {{#if app.latestRelease}}
      <div><strong>Latest Release</strong></div>
      <h5 class="px-2"><a href="{{app.latestRelease.releaseUrl}}">{{app.latestRelease.releaseName}} | <span class="octicon octicon-tag mr-1"></span> {{app.latestRelease.tagName}}</a></h5>
      {{#if app.latestRelease.downloads}}
        <h5 class="px-2">Downloads</h5>
        <div class="row px-2">
          {{#each app.latestRelease.downloads}}
            <h5 class="col-xs-3"><a href="{{this.fileUrl}}">{{this.fileName}}</a></h5>
          {{/each}}
        </div>
      {{/if}}
      <h5 class="px-2">Notes</h5>
      <div class="row px-2">
        <div class="col-xs-12">
          {{{mdtohtml app.latestRelease.releaseNotes}}}
        </div>
      </div>
    {{/if}}
  </div>
</section>
