<section class="page-section">

  <nav aria-label="Breadcrumb">
    <ol>
      <li class="breadcrumb-item text-small"><a href="/apps">Apps</a></li>
      <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">{{app.name}}</li>
    </ol>
  </nav>
  <div class="container-narrow media-fluid">
    <header class="app-header">
      <img class='app-logo' src='/images/apps/{{app.icon128}}' alt='{{app.name}}'>
      <a class="app-link" href="{{app.website}}">
        <h1 class='app-name'>{{app.name}}</h1>
      </a>
      <p class="app-description">
        {{app.description}}
      </p>
    </header>

    {{#each app.screenshots}}
      <figure class="app-sreenshot">
        <a href="{{../app.website}}">
          <img src="{{imageUrl}}"></img>
        </a>
        {{#if caption}}
          <figcaption class="text-center">
            {{caption}}
          </figcaption>
        {{/if}}
      </figure>
    {{/each}}


    <table class="app-details">
      <tr>
        <td>Category</td>
        <td><a href="/apps?category={{app.categorySlug}}">{{app.category}}</a></td>
      </tr>

      {{#if app.repository}}
        <tr>
          <td>Source Code</td>
          <td><a href="{{app.repository}}">{{app.repository}}</a></td>
        </tr>
      {{/if}}

      {{#if app.license}}
        <tr>
          <td>License</td>
          <td>{{app.license}}</td>
        </>
      {{/if}}

      {{#if app.keywords}}
        <tr>
          <td>Keywords</td>
          <td>
            {{#each app.keywords}}
              <a class="app-keyword" href="/apps?q={{this}}">{{this}}</a>
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if app.locales}}
        <tr>
          <td>Languages</td>
          <td>
            {{#each app.locales}}
              {{this}}
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if app.latestRelease}}
        <tr>
          <td>
            Latest release
          </td>
          <td>
            <a href="{{app.latestRelease.releaseUrl}}">
              {{app.latestRelease.releaseName}}
            </a>
            <span class="app-tagname">({{app.latestRelease.tagName}})</span>
          </td>
        </tr>

        {{#if app.latestRelease.downloads}}
          <tr>
            <td>
              Downloads
            </td>
            <td>
              {{#each app.latestRelease.downloads}}
                <a class="app-download" href="{{this.fileUrl}}">{{this.fileName}}</a>
              {{/each}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>Latest Release Notes
            </td>
            <td>
              {{{app.latestRelease.releaseNotes}}}
            </td>
          </tr>
        {{/if}}

      {{/if}}
    </table>

    {{#if app.readme}}
      <div class="app-readme-wrapper">
        <header class="app-readme-header">
          <button class="app-readme-button btn btn-lg btn-outline-themed" type="button" id="display-readme">
            More Details <span id="display-readme-icon" class="octicon octicon-chevron-down ml-2"></span>
          </button>
        </header>
        <main id="readme" class="app-readme d-none">
          {{{app.readme}}}
        </main>
      </div>
    {{/if}}

  </div>
</section>

<script>
  document.getElementById('display-readme').addEventListener('click', function(event) {
    this.classList.add('d-none');
    document.getElementById('readme').classList.remove('d-none');
  });
</script>
