<div class='subtron'>
  <div class='container-narrow'>
    <h1>{{localized.community.title}}</h1>
    <p class="lead mb-3">{{{localized.community.description}}}</p>
  </div>
</div>

<section class='page-section'>

  <div class="container-narrow">
    <p class="lead mb-4">🐎 {{{localized.community.channels.get_started}}}</p>
    <p class="lead mb-4">📣 {{{localized.community.channels.updates}}}</p>
    <p class="lead mb-4">🙋 {{{localized.community.channels.help}}}</p>
    <p class="lead mb-4">🌍 {{{localized.community.channels.localized_docs}}}</p>
    <p class="lead mb-4">🐞 {{{localized.community.channels.bugs}}}</p>
    <p class="lead mb-4">💡 {{{localized.community.channels.feature_requests}}}</p>
    <p class="lead mb-4">⚖️ {{{localized.community.channels.code_of_conduct}}}</p>
    <p class="lead mb-4">🙊 {{{localized.community.channels.security}}}</p>
    <p class="lead mb-4">💰 {{{localized.community.channels.donations}}}</p>
    <p class="lead mb-4">❓ {{{localized.community.channels.other}}}</p>
  </div>

  <div class="container-narrow my-5">
    <h2 id="language-communities">{{localized.community.language_communities.title}}</h2>

    <p>{{{localized.community.language_communities.description}}}</p>

    <ul>
      <li><a href="https://telegram.me/electron_ru" rel="nofollow">electron-ru</a> <em>(Russian)</em></li>
      <li><a href="https://electron-br.slack.com" rel="nofollow">electron-br</a> <em>(Brazilian Portuguese)</em></li>
      <li><a href="https://electron-kr.github.io/electron-kr" rel="nofollow">electron-kr</a> <em>(Korean)</em></li>
      <li><a href="https://electron-jp.slack.com" rel="nofollow">electron-jp</a> <em>(Japanese)</em></li>
      <li><a href="https://electron-tr.herokuapp.com" rel="nofollow">electron-tr</a> <em>(Turkish)</em></li>
      <li><a href="https://electron-id.slack.com" rel="nofollow">electron-id</a> <em>(Indonesia)</em></li>
      <li><a href="https://electronpl.github.io" rel="nofollow">electron-pl</a> <em>(Poland)</em></li>
    </ul>
  </div>

  <div class="container-narrow">
    <h2 id="tools">{{localized.community.tools}}</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {{#each items}}
        {{#if this.isTool}}
          {{#if this.isForElectron}}
            <tr>
              <td>
                <a href="{{ this.href }}">{{ this.name }}</a>
              </td>
              <td>
                {{ this.description }}
              </td>
            </tr>
          {{/if}}
        {{/if}}
      {{/each}}
    </table>

    <h2 id="boilerplates">{{localized.community.boilerplates}}</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {{#each items}}
        {{#if this.isBoilerplate}}
          <tr>
            <td>
              <a href="{{ this.href }}">{{ this.name }}</a>
            </td>
            <td>
              {{ this.description }}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>

    <h2 id="components">{{localized.community.components}}</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {{#each items}}
        {{#if this.isComponent}}
          <tr>
            <td>
              <a href="{{ this.href }}">{{ this.name }}</a>
            </td>
            <td>
              {{ this.description }}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>

    <h2 id="videos">{{localized.community.videos}}</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {{#each items}}
        {{#if this.isVideo}}
          <tr>
            <td>
              <a href="{{ this.href }}">{{ this.name }}</a>
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>

    <p class="mt-3 mt-md-6">
        {{{localized.community.awesome_notice}}}
    </p>

    <h2 id="meetups" class="mt-7">{{localized.community.meetups}}</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {{#each meetups}}
      <tr>
        <td>
          <a href="{{ href }}">{{ name }}</a>
        </td>
        <td>
          {{ location }}, {{ country }}
        </td>
      </tr>
      {{/each}}
    </table>

    <p class="mt-3 mt-md-6">
      {{{localized.community.meetup_notice}}}
    </p>
  </div>
</section>
