{{#*inline "searchForm"}}
<form class="search-form">
  <input
    class="col-sm-8 col-xs-12 px-4 py-3 my-2"
    placeholder="> search_term"
    type="search"
    autofocus="on"
    autocorrect="off"
    action="/search"
    method="get"
    name="query"
    value="{{query.query}}"
  >
  <button class="btn-link my-2 ml-4">
    <span class="octicon octicon-arrow-right" type="submit"></span>
  </button>
</form>
{{/inline}}

{{#if query.query}}
  <section class="page-section">
    <div class="container-narrow search-results">
      {{> searchForm}}
      <h4 class="mb-4">Search Results for <i>"{{query.query}}"</i></h4>
      {{#each searchResults}}
      <div>
        <h2>{{searchOp.displayName}} ({{resultsNum}})</h2>

        {{> (lookup searchOp 'partial')}}

        {{#unless ../searchIn}}
          <div class="mt-3"><a href="search/{{searchOp.name}}?query={{../query.query}}">View all results from {{searchOp.displayName}}&nbsp<span class="octicon octicon-arrow-small-right"></span></a></div>
        {{/unless}}
      </div>
      <hr></hr>
      {{/each}}
    </div>
  </section>
{{else}}
  <div class="subtron">
    <div class="container-narrow">
      <h1>Search</h1>
      <p class="lead mb-3">Look for Electron related content.</p>
    </div>
  </div>
  <section class="page-section">
    <div class="container-narrow">
      {{> searchForm}}
    </div>
  </section>
{{/if}}