{% unless app.disabled %}
<a href='{{ app.website | default: app.repository }}' title='{{ app.name }} - {{ app.description | escape }}' class='featured-app'>
  <div class='featured-app-logo-wrapper'>
    <img class='featured-app-logo' src='{{ site.baseurl }}/images/apps/{{ app.icon }}' alt='{{ app.name }}'>
  </div>
  <div class='featured-app-name'>{{ app.name }}</div>
  <div class='featured-app-description' style='display:none;'>{{ app.description }}</div>
  <div class='featured-app-keywords' style='display:none;'>{{ app.keywords }}</div>
</a>
{% endunless %}
