<footer>
  <div class='container'>
    <div class='row'>
      <div class='one-half column'>
        <ul class='inline-list'>
          <li><a href='https://github.com/atom/electron'>Repository</a></li>
          <li><a href='/docs/{{ site.latest_version }}'>Documentation</a></li>
          <li><a href='/releases.html'>Releases</a></li>
          <li><a href='http://blog.atom.io'>Blog</a></li>
          <li><a href='https://discuss.atom.io/c/electron'>Discuss</a></li>
        </ul>
      </div>

      <div class='one-half column text-right'>
        <a href='https://github.com' class="no-hover-dec"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by <span class='octicon octicon-logo-github'></span></a>
      </div>
  </div>
</footer>
