<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-nav-item" href="{{ site.baseurl }}/">Electron</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/docs/">Docs</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/blog/">Blog</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/community/">Community</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/apps/">Apps</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/releases/">Releases</a>
      <a class="footer-nav-item" href="https://discuss.atom.io/c/electron">Discuss</a>
      <a class="footer-nav-item" href="https://github.com/electron/electron">Repository</a>
    </nav>
    <span class="footer-love">
      <a href='https://github.com' class="no-underline"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by <span class='octicon octicon-logo-github'></span></a>
    </span>
  </div>
</footer>
