<footer>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <ul class="inline-list">
          <li><a href="https://help.github.com/articles/github-terms-of-service">Terms of Use</a></li>
          <li><a href="/releases">Releases</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/roadmap">Roadmap</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="one-half column text-right">
        <a href="https://github.com"><span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <span class="octicon octicon-logo-github"></span></a>
      </div>
  </div>
</footer>
