<header class="site-header">
  <div class="container">
    <a class="site-header-logo no-underline-hover" href="/basecoat/">
      <span class="mega-octicon octicon-mark-github"></span>
      Electron
    </a>
    <nav class="site-header-nav">
      <a class="site-header-nav-item" href="/">Home</a>
      <a class="site-header-nav-item" href="/guides">Guides</a>
      <a class="site-header-nav-item" href="/docs">Documentation</a>
      <a class="site-header-nav-item" href="/blog">Blog</a>
      <a class="site-header-nav-item" href="/apps">Apps</a>
      <a class="site-header-nav-item" href="/releases">Releases</a>
      <a class="site-header-nav-item" href="https://discuss.atom.io/c/electron">Discuss</a>
      <!-- <a class="site-header-nav-item" href="Github repository">Github Repository</a> -->
    </nav>
  </div>
</header>
