<header>
  <div class='top-bar'>
    <div class='container'>
      <div class='row'>
        <div class='four columns'>
          <ul class='navigation inline-list'>
            <li><a href='/#built-on-electron'>Built on Electron</a></li>
            <li><a href='/#get-started'>Get Started</a></li>
          </ul>
        </div>
        <div class='eight columns text-right'>
          <ul class='navigation inline-list'>
            <li><a href='https://github.com/atom/electron'>Repository</a></li>
            <li><a href='/docs/{{ site.latest_version }}'>Documentation</a></li>
            <li><a href='http://blog.atom.io'>Blog</a></li>
            <li><a href='https://discuss.atom.io/c/electron'>Discuss</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
