{% unless app.disabled %}
<li class='listed-app'>
  <a href='{{ app.website | default: app.repository }}' title='{{ app.name }} - {{ app.description | escape }}'>
    <div class='listed-app-logo-wrapper'>
      <img class='listed-app-logo' src='{{ site.baseurl }}/images/apps/{{ app.icon64 }}' alt='{{ app.name }}'>
    </div>
    <span class='listed-app-name text-gray-dark'>{{ app.name }}</span>
    <span class='listed-app-description'>{{ app.description | escape }}</span>
    <span class='listed-app-date'>Added&nbsp;<span data-date='{{ app.date }}'>{{ app.date }}</span></span>
    <span class='listed-app-keywords' style='display:none;'>{{ app.keywords }}</span>
  </a>
</li>
{% endunless %}
