{% assign safePackageName = package.name | replace:'.','-' %}

<div class="top-dependency" id="dependencies-{{safePackageName}}">
  <p>
    <!-- {{ forloop.index }}. -->
    <strong>
      <a class="packageToggler packageName" data-package="{{safePackageName}}" href="http://npm.im/{{package.name}}">{{package.name}}</a>
    </strong>
     - <span class="packageDescription">{{package.description}}</span>
  </p>

  <table class="details table table-ruled table-full-width table-roomy-vertical">
    {{unless package.keywords == empty}}
      <tr>
        <td>Keywords</td>
        <td class="packageKeywords">{{package.keywords | join: ", " }}</td>
      </tr>
    {{endunless}}
    <tr>
      <td>Dependent Electron apps on GitHub</td>
      <td>{{package.dependentPublicRepoCount}}</td>
    </tr>
    <tr>
      <td>Dependent npm Packages</td>
      <td><a href="http://npm.im/package/{{package.name}}/dependents">{{package.dependents}}</a></td>
    </tr>
    <tr>
      <td>Repository</td>
      <td class="packageRepository"><a href="{{package.repository}}">{{package.repository | replace_first:'https://','' }}</a></td>
    </tr>
    <tr>
      <td>Package Page</td>
      <td><a href="http://npm.im/{{package.name}}">npm.im/{{package.name}}</a></td>
    </tr>
  </table>
</div>
