<div class='subtron text-left'>
  <div class='container'>
    <a href="{{site.baseurl}}/userland">
      <h1>Electron Userland</h1>
    </a>

    {% if page.title == 'Userland' %}
      <p class="lead mb-3">
        The people, apps, and packages of Electron's open-source ecosystem.
      </p>
    {% elsif report %}
      <h4 class="docs-breadcrumbs">
        <a href="/userland/">Home</a>
        <span class="docs-breadcrumbs-divider">/</span>
        <a href="/userland/{{report.slug}}">{{report.title}}</a>
      </h4>
    {% endif %}

  </div>
</div>

<script src="{{site.baseurl}}/js/vendor/list.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', createFilterList)

  function createFilterList () {
    var list = document.querySelector('.filterable-list')
    if (!list || !list.parentElement) return
    var opts = {
      listClass: 'filterable-list',
      searchClass: 'filterable-list-input',
      valueNames: [
        'package-name',
        'package-description',
        'package-keywords',
        'package-repository',
        'repo-name',
        'repo-description',
        'repo-keywords'
      ]
    }
    new List(list.parentElement.getAttribute('id'), opts)
  }
</script>
