{% include userland_header.html %}

<section class='page-section'>
  <div class='container'>

    {% if report.collectionType == 'Package' %}
      <div id="{{report.slug}}">

        <input class="filterable-list-input" placeholder="Filter packages by name, description, keyword, author, repository URL..." autofocus="on" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

        <ul class="filterable-list">
          {% for package in report.collection %}
            <li data-rank="{{forloop.index}}">
              <a class="item-name" href="http://npm.im/{{package.name}}">{{package.name}}</a>
              {% if package.description %}
                <span class="item-description">{{package.description}}</span>
              {% endif %}
              <span class="item-keywords" style="display:none">
                {% for keyword in package.keywords %}{{keyword}}&nbsp;{% endfor %}
              </span>
              <span class="item-repository" style="display:none">
                {{package.repository}}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if report.collectionType == 'Repository' %}
      <div id="{{report.slug}}">
        <input class="filterable-list-input" placeholder="Filter by name, description, keyword, author, repository URL..." autofocus="on" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

        <ul class="filterable-list">
          {% for repo in report.collection %}
            <li data-rank="{{forloop.index}}">
              <a class="item-name" href="https://github.com/{{repo.fullName}}">{{repo.fullName}}</a>
              {% if repo.description %}
                <span class="item-description">{{repo.description}}</span>
              {% endif %}

              {% if repo.packageJSON and repo.packageJSON.keywords %}
                <span class="item-keywords" style="display:none">
                  {% for keyword in repo.packageJSON.keywords %}{{keyword}}&nbsp;{% endfor %}
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if report.collectionType == 'GithubUser' %}
      <ul class="author-list">
        {% assign blacklist = 'greenkeeperio-bot|ember-tomster|gitter-badger|invalid-email-address|waffle-iron' | split: '|' %}

        {% for author in report.collection %}
          {% if blacklist contains author.user or blacklist contains author.handle %}{% continue %}{% endif %}

          <li class="author-list-item">
            <a class="author-list-item-avatar-wrapper" href="http://github.com/{{author.user}}">
              <img src="https://github.com/{{author.user}}.png">
            </a>
            <div class="author-list-item-details">
              <a href="http://github.com./{{author.user}}" class="truncate">{{author.user}}</a><br>
              <span class="small">{{author.repos}} repos</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}


    {% if report.collectionType == 'npmUser' %}
      <ul class="list author-list">
        {% assign blacklist = 'uupaa|etc-etc-etc' | split: '|' %}
        {% for author in report.collection %}
          {% if blacklist contains author.handle %}{% continue %}{% endif %}
          <li class="author-list-item">
            <a class="author-list-item-avatar-wrapper" href="http://npm.im/~{{author.handle}}">
              <img src="{{author.gravatar}}">
            </a>
            <div class="author-list-item-details">
              <a href="http://npm.im/~{{author.handle}}">{{author.handle}}</a><br>
              <span class="small">{{author.packages}} packages</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <p class="text-center text-subtle mt-6">
      This report was last updated <span data-date="{{report.createdAt}}">{{report.createdAt}}</span>
    </p>

  </div>
</section>


<section class="page-section page-section-spacious bg-shade">
  <div class='container-narrow text-center'>
    <h2>Other reports from Electron Userland</h2>
  </div>
  {% include userland_report_cards.html %}
</section>

{% include userland_footer.html %}
