<div class='subtron text-left'>
  <div class='container-narrow'>
    <h1>Electron Userland</h1>
    <h4 class="docs-breadcrumbs">
      <a href="/userland/">Home</a>
      <span class="docs-breadcrumbs-divider">/</span>
      <a href="/userland/dependencies/">Dependencies</a>
      <span class="docs-breadcrumbs-divider">/</span>
      <a href="#">Dev Dependencies</a>
      <span class="docs-breadcrumbs-divider">/</span>
      <a href="#">Apps</a>
      <span class="docs-breadcrumbs-divider">/</span>
      <a href="#">Contributors</a>
    </h4>
  </div>
</div>

<script src="{{site.baseurl}}/js/vendor/list.min.js"></script>
<script src="{{site.baseurl}}/js/toggle-package-list.js"></script>

<style media="screen">
  .top-dependency {
    padding: 8px;
  }

  .top-dependency p {
    margin: 0;
  }

  .top-dependency.expanded {
    background: #f6f8f8;
  }

  .top-dependency .details {
    display: none;
  }

  .top-dependency.expanded .details {
    display: block;
  }
</style>
