
.footer {
  margin-top: 0;
  border-color: darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;
}

.footer-nav {
  @include breakpoint(md) {
    float: left;
  }
}

.footer-love {
  @include breakpoint(md) {
    float: right;
  }
  .octicon-logo-github {
    position: relative;
    bottom: -2px; // visually center
  }
}
