
.hero-link {
  &:hover {
    text-decoration: none;
    .hero-octicon {
      border-color: $main-link-color;
    }
  }
}

.hero-octicon {
  color: $heading-color;
  background-color: transparent;
  border: 1px solid mix($heading-color, #fff, 30%);
}

.btn {
  .octicon {
    vertical-align: middle;
  }
}
