
// Site Header

.site-header {
  color: $header-fg;
  background-color: $header-bg;
  border-bottom-color: darken($header-bg, 10%);
}

.site-header a {
  color: inherit;
  &.active,
  &:hover {
    color: $header-fg-active;
  }
  &:active {
    color: darken($header-fg, 20%);
  }
}

// Electron icon
.site-header-icon {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  margin-top: -4px; // visually align
  margin-right: 0.4em;

  .svg-fill {
    fill: currentColor;
  }
  .svg-stroke {
    stroke: currentColor;
    stroke-width: 1.2;
    stroke-linecap: round;
  }
}

.site-header-nav .mega-octicon {
  min-width: 32px; // stops jumping of the nav when loading the page
}
