
.minitron,
.jumbotron {
  color: $header-fg;
}

.jumbotron {
  // Shadow
  &:after {
    content: none;
  }
}


.jumbotron-lead {
  font-size: 1.4rem;
  font-weight: 300;

  @include breakpoint(md) { font-size: 1.8rem; }
  @include breakpoint(lg) { font-size: 2.4rem; }
}

.jumbotron-lead-muted {
  opacity: .6;
  @include breakpoint(md) {
    display: block;
    font-size: .8em;
  }
}


.jumbotron-img {
  width: 100%;
  max-width: 900px;
  cursor: pointer;
}
.jumbotron-img-hover {
  display: none;
}
.jumbotron:active {
  .jumbotron-img {
    display: none;
  }
  .jumbotron-img-hover {
    display: initial;
  }
}
