
.page-section {
  padding: $spacer4 0;

  @include breakpoint(md) {
    padding: $spacer6 0;
  }
  @include breakpoint(lg) {
    padding: $spacer8 0;
  }
}

.page-section hr {
  margin: $spacer4 0;

  @include breakpoint(md) {
    margin: $spacer6 0;
  }
  @include breakpoint(lg) {
    margin: $spacer8 0;
  }
}

.bg-shade {
  border: 1px solid hsl(34, 41%, 88%);
  background: #FAF7F3;
}
