
.page-section {
  padding: $spacer3;
  @include breakpoint(md) { padding: $spacer4; }
  @include breakpoint(lg) { padding: $spacer6; }
  @include breakpoint(xl) { padding: $spacer8; }

  .container,
  .container-narrow {
    & > *:first-child {
      margin-top: 0;
    }
  }
}

// more padding
.page-section-spacious {
  padding: $spacer4 $spacer2;
  @include breakpoint(md) { padding: $spacer6 $spacer3; }
  @include breakpoint(lg) { padding: $spacer8 $spacer4; }
  @include breakpoint(xl) { padding: $spacer6 * 2 $spacer6; }
}

.page-section hr {
  margin: $spacer3 0;
  @include breakpoint(md) { margin: $spacer4 0; }
  @include breakpoint(lg) { margin: $spacer6 0; }
  @include breakpoint(xl) { margin: $spacer8 0; }
}

.bg-shade {
  min-height: 0;
  border: 1px solid darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;

  hr {
    border-color: darken($main-bg-color-shade, 12%);
  }
}
