

.lead {
  color: $body-color; // override Primer
}

hr {
  margin-left: $spacer8 !important;
  margin-right: $spacer8 !important;
  border-color: $border-color; // override Primer
}

.text-small {
  font-size: 14px !important;
}

strong {
  color: $main-color-strong;
}

h3,
.text-gamma,
.text-gamma-bold {
  font-weight: 400;
}

h1:first-child {
  margin-top: 0;
}
