/* Userland List Cards */

ul.report-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.report-list > li {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.report-list > li .inner {
  display: block;
  margin: 8px;
  padding: 20px;
  background-color: #f6f8f8;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  min-height: 140px;
}

.report-list h3 {
  text-align: center;
  font-size: 18px;
  color: #00739f;
  margin: 0;
}

.report-list p {
  opacity: 0.8;
  line-height: 1.4;
  font-size: 90%;
  padding: 10px 10px 0 10px;
  color: $main-link-color;
  text-decoration: none !important;
}

/* Filterable Lists (in /userland) */

.filterable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filterable-list-input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 10px 0;
}

.filterable-list-keyword {
  font-size: 80%;
  opacity: 0.6;
}

/* Author List (for npm and GitHub users in /userland) */

.author-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.author-list-item {
  width: 156px;
  margin: 0;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.author-list-item-avatar-wrapper {
  display: block;
}

.author-list-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.author-list-item-details {
  line-height: 1;
}

/* Utility classes */

.small {
  font-size: 80%;
  opacity: 0.7;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
