<div class="governance">
  <div class="jumbotron text-center">
    <div class="n-container-lg p-responsive position-relative">
      <h1 class="h00-mktg lh-condensed mb-3 text-white">{{localized.governance.title}}</h1>
      <div class="mx-auto mb-5">
        <p class="lead-mktg">{{localized.governance.description}}</p>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="container-lg p-responsive">
      <h2 class="h00-mktg my-2 lh-condensed text-center">
        <p class="text-gray-dark">CHANGEME</p>
      </h2>
      <p class="lead-mktg text-normal text-center mb-4 mx-auto text-gray">
        CHANGEME
      </p>
    </div>
  </div>
</div>
