<div class="governance">
  <div class="jumbotron text-center">
    <div class="n-container-lg p-responsive position-relative">
      <h1 class="h00-mktg lh-condensed mb-3 text-white">{{localized.governance.title}}</h1>
      <div class="mx-auto mb-5">
        <p class="lead-mktg">{{localized.governance.description}}</p>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="n-container-lg p-responsive">
      <h2 class="h00-mktg my-2 lh-condensed text-center">
        <p class="text-gray-dark">Security</p>
      </h2>
      <p class="lead-mktg text-normal text-center mb-4 mx-auto text-gray">
        Security WG Membership & Notifications
      </p>

      <div class="d-md-flex">
        <div class="col-md-4 px-3">
          <h3 class="h3-mktg text-normal mb-1">Membership</h3>
          <p class="mb-3 text-gray">
              Due to the Security Working Group's sensitive role in responding to newly-reported vulnerabilities, membership on this Working Group is limited. The group has made a conscious decision to limit initial exposure to only those who will contribute to the fix.
          </p>
        </div>
        <div class="col-md-4 px-3">
          <h3 class="h3-mktg text-normal mb-1">Friends and Family Notifications</h3>
          <p class="mb-3 text-gray">
            These notifications are limited-information advance warnings that say that a new release is coming and, depending on the sensitivity and availability of invitation, perhaps some of the following:
            <ul>
              <li>affected versions</li>
              <li>affected platforms</li>
              <li>possible mitigations</li>
            </ul>
          </p>
          <p class="mb-3 text-gray">
            The intent of these is to help Electron-based apps do short-term planning so that they can get security fixes to their users as soon as possible.
          </p>
          <p class="mb-3 text-gray">
            These notifications will be made via a private Slack channel on ElectronHQ. If you'd like to join this channel and are an app developer with a history of working with Electron's maintainers, e.g. as a contributor or as a member of the App Feedback Program, please contact the Security WG.
          </p>
        </div>
        <div class="col-md-4 px-3">
          <h3 class="h3-mktg text-normal mb-1">Public Notifications</h3>
          <p class="mb-3 text-gray">
            Public notifications are a wider disclosure of vulnerabilities. Unlike the "Friends and Family" notifications, these will give some information about the vulnerability, e.g. what features are affected, mitigation strategies, and how the vulnerability was discovered.
          </p>
          <p class="mb-3 text-gray">
            These announcements will typically be made alongside new releases which fix the issue.
          </p>

          <p class="mb-3 text-gray">
            Places to look for these announcements:
            <ul>
              <li>#announce-security in <a href="/maintainers/join">ElectronHQ Slack</a></li>
              <li>Electron's <a href="https://twitter.com/electronjs">Twitter</a> account</li>
              <li><a href="/blog">Electron Blog</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
