<div class="governance">
  <div class="jumbotron text-center">
    <div class="n-container-lg p-responsive position-relative">
      <h1 class="h00-mktg lh-condensed mb-3 text-white">{{localized.governance.title}}</h1>
      <div class="mx-auto mb-5">
        <p class="lead-mktg">{{localized.governance.description}}</p>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="n-container-lg p-responsive">
      <h2 class="h00-mktg my-2 lh-condensed text-center">
        <p class="text-gray-dark">{{localized.governance.wgs}}</p>
      </h2>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-tools" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.docstools.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{{localized.governance.docstools.description}}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-docs-tools/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/blob/master/wg-docs-tools/repos.md">{{localized.governance.global.associated_repos}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-docs-tools/meeting-notes">{{localized.governance.global.notes}}</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-broadcast" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.outreach.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{{localized.governance.outreach.description}}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-outreach/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-outreach/meeting-notes">{{localized.governance.global.notes}}</a></li>
            <li class="invisible"></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-rocket" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.releases.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{{localized.governance.releases.description}}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-releases/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/blob/master/wg-releases/repos.md">{{localized.governance.global.associated_repos}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-releases/meeting-notes">{{localized.governance.global.notes}}</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-versions" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.upgrades.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{localized.governance.upgrades.description}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-upgrades/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/blob/master/wg-upgrades/repos.md">{{localized.governance.global.associated_repos}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-upgrades/meeting-notes">{{localized.governance.global.notes}}</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-globe" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.website.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{{localized.governance.website.description}}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-website/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/blob/master/wg-website/repos.md">{{localized.governance.global.associated_repos}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-website/meeting-notes">{{localized.governance.global.notes}}</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-law" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.cmsf.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{{localized.governance.cmsf.description}}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-community-safety/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-community-safety/meeting-notes">{{localized.governance.global.notes}}</a></li>
            <li class="invisible"></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-shield" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.security.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{localized.governance.security.description}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-security/README.md">{{localized.governance.global.overview}}</a></li>
            <li><a href="https://github.com/electron/governance/tree/master/wg-security/meeting-notes">{{localized.governance.global.notes}}</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 px-3 something-missing">
          <span class="octicon hero-octicon octicon-telescope" aria-hidden="true"></span>
          <h3 class="h3-mktg text-normal mb-1 center">{{localized.governance.admins.title}}</h3>
          <p class="mb-3 text-gray force-150">
            {{localized.governance.admins.description}}
          </p>
          <ul>
            <li><a href="https://github.com/electron/governance/blob/master/wg-administrative/README.md">{{localized.governance.global.overview}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="n-container-lg p-responsive">
      <h2 class="h00-mktg my-2 lh-condensed text-center">
        <p class="text-gray-dark">{{localized.governance.definitions.title}}</p>
      </h2>

      <div>
        <ul>
          {{#each localized.governance.definitions.list}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="n-container-lg p-responsive">
      <h2 class="h00-mktg my-2 lh-condensed text-center">
        <p class="text-gray-dark">{{{localized.governance.responsibilities.title}}}</p>
      </h2>

      <div>
        <p>{{{localized.governance.responsibilities.listdescription}}}</p>
        <ul>
          {{#each localized.governance.responsibilities.list}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
        <p>{{{localized.governance.responsibilities.see_charter}}}</p>
      </div>
    </div>
  </div>

  <div class="py-7 py-md-8 py-lg-9">
    <div class="n-container-lg p-responsive">
      <div class="row">
        <div class="col-sm-12 col-md-6 p-3 px-md-6">
          <h2 class="h3-mktg text-normal mt-0 mb-1">
            {{localized.nav.code_of_conduct}}
          </h2>
          <p class="mb-3 text-gray">
            {{{localized.governance.code_of_conduct}}}
          </p>
        </div>
        <div class="col-sm-12 col-md-6 p-3 px-md-6">
          <h2 class="h3-mktg text-normal mt-0 mb-1">
            {{localized.nav.license}}
          </h2>
          <p class="mb-3 text-gray">
            {{{localized.governance.license}}}
          </p>
        </div>
        <div class="col-sm-12 col-md-6 p-3 px-md-6">
          <h2 class="h3-mktg text-normal mt-0 mb-1">
            {{localized.apps.repository}}
          </h2>
          <p class="mb-3 text-gray">
            {{{localized.governance.repository}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
