
// Blog ------------------------------

// Index

.blog-index {
  list-style: none;
  margin-left: 0;
}

.blog-index-link {
  color: $main-color-strong;
  &:hover {
    text-decoration: none;
    color: $main-link-color;
  }
}

.blog-byline {
  color: $main-color-subtle;
  font-size: $body-font-size;
}

.blog-index-time {
  display: inline;
}

.author-link {
  color: $main-color-subtle;

  .avatar {
    position: relative;
    top: 4px;
    border-radius: 2px;
    height: 18px;
    width: 18px;
  }
}


// Post

.blog-post {

  h2 {
    margin-top: 2em;
  }

  time {
    display: inline;
    margin-bottom: $spacer4;
    color: $main-color-subtle;
  }

  // framed image
  // to better distinguish white backgrounds
  // add in MD with ![alt](path){: .screenshot }
  .screenshot {
    border: $border;
    border-radius: $border-radius;
    padding: $spacer2;
    background-color: $main-bg-color-shade;
  }

  hr:first-of-type {
    display: none;
  }

  p {
    line-height: 1.7;
    a {
      text-decoration: underline;
    }
  }

  a code {
    color: $main-link-color;
  }

  th {
    text-align: left;
    font-weight: normal;
    padding-left: 6px;
  }

  .table-full-width {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

figure {
  margin: 2em 0;
}

figcaption {
  text-align: center;
  padding: 10px;
  font-size: 1em;
  color: $main-color;
  a {
    color: $main-color;
  }
}
