
// Jumbotron ------------------------------

.jumbotron.jumbotron-home {
  // Reduce padding because the hero has some extra padding for the animation.
  padding: $spacer2 $spacer3 $spacer6 $spacer3;
  @include breakpoint(md) { padding: $spacer4 $spacer3 $spacer8 $spacer3; }
  @include breakpoint(xl) { padding: $spacer6 0 $spacer6 * 2 0; }
}

// Headers ------------------------------

.nodejs-color {
  color: $nodejs-color;
}

.chromium-color {
  color: $chromium-color;
}

// Features ------------------------------

.home-illu {
  max-height: 200px;
}

// Featured apps section --------------------------

.featured-apps {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a.featured-app-list-item {
  background-color: #e4e4e4;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
  position: relative;
  min-width: 200px;

  &:hover {
    background-color: #f3f3f3;
  }

  img {
    max-height: 400px;
  }

  h4 {
    margin-top: 10px;
    max-width: 65%;
  }

  .icon {
    position: absolute;
    right: 10px;
    float: left;
    bottom: 35px;
    max-width: 35%;
    max-height: 35%;
  }
}

@media screen and (max-width: 1300px) {
  .featured-apps {
    flex-wrap: wrap;
  }

  a.featured-app-list-item {
    max-width: 200px;
  }
}

@media screen and (max-width: 850px) {
  a.featured-app-list-item {
    width: 100px;
    min-width: unset;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    picture {
      display: none;
    }

    h4 {
      max-width: 100%;
      justify-self: flex-end;
      /* Turn it into a h5 */
      font-size: 14px;
      font-weight: 600;
    }

    .icon {
      max-width: 70px;
      position: unset;
      float: unset;
      max-height: unset;
    }
  }
}

// Getting Started section ------------------------------

.highlight-dark {
  color: $jumbo-color-strong;
  background-color: $jumbo-bg-color;
  border-color: darken($jumbo-bg-color, 12%);
  code {
    color: inherit;
  }
  .c1.c1 {
    color: mix($jumbo-color-strong, $jumbo-bg-color, 60%);
  }
}

.app-frame {
  border: 2px solid $main-border-color;
  border-top-width: 20px;
  border-radius: 4px;
  background-color: #FAFAFA;
  box-shadow: 0 25px 30px -18px rgba(0, 0, 0, 0.28);
}

@media screen and (max-width: 1300px) {
  svg.vertical-middle {
    display: none;
  }
}

// Announcement banner------------------------------

.announcement-banner {
  background: #23252f;
  border-bottom: 1px solid #191a22;
  padding-top: 6px;
  padding-bottom: 5px;
  color: $jumbo-color-strong;
  text-align: center;

  a {
    color: $jumbo-color;
  }
}
