
// Releases ------------------------------

.vertical-middle {
  vertical-align: middle !important;
}

.releases-tag {
  display: inline-block;
  margin: 0.3em 0.1em;
  padding: 0.1em 0.4em;
  font-size: 0.86em;
  color: $main-color-subtle;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $main-color-strong;
    background-color: $main-bg-color-shade !important;
  }
}

.r-class {
  // Magic numbers.
  margin-right: 128px;
  margin-left: 128px;
}

.release-version-filter .active {
  text-decoration: underline;
}

.r-menu {
  display: flex !important;
  flex-direction: column !important;
  padding-left: 8px !important;
  list-style: none !important;

  .menu-item {
    font-size: 21px !important;
    // Remove border radius for active element.
    border-radius: 0 !important;

    .octicon {
      font-size: 20px !important;
      padding-right: 8px !important;
    }

    &:hover {
      cursor: pointer !important;
      background-color: #fcfcfc !important;
    }

    p {
      font-size: 15px !important;
      // margin-left: 23px;
    }
  }

  ul {
    margin-bottom: 1em !important;
    margin-left: 1.5em !important;
    padding-left: 0;
    padding-top: 0;
  }
}

.releases {
  width: 1280px;
  flex: 1;

  h1 {
    font-size: $h0-size-mobile !important;
    font-weight: $font-weight-light !important;

    @include breakpoint(md) { font-size: $h0-size !important; }
  }

  h2 {
    font-size: $h1-size-mobile !important;
    font-weight: $font-weight-light !important;

    @include breakpoint(md) { font-size: $h1-size !important; }
  }

  h3 {
    font-size: $h2-size-mobile !important;
    font-weight: $font-weight-light !important;

    @include breakpoint(md) { font-size: $h2-size !important; }
  }

  h4 {
    font-size: $h3-size-mobile !important;
    font-weight: $font-weight-light !important;

    @include breakpoint(md) { font-size: $h3-size !important; }
  }

  .release-entry {
    margin-bottom: $spacer3;

    // Tag
    & > .tag {
      display: inline-block;
      padding: 0.1em 0.3em;
      color: $main-color;
      border: 1px solid $border-color;
      border-radius: $border-radius;

      &:hover {
        text-decoration: none;
        color: $main-color-strong;
        background-color: $main-bg-color-shade !important;
      }

      &.octicon-wrapper {
        border: none;
      }
    }

    // Date
    & > .date {
      margin-left: 0.5em;
      font-size: $body-font-size;
      color: $main-color-subtle;
      font-style: normal;
    }
  }
}

@media (min-width: 700px) {
  .r-resp-header,
  .r-resp-header-toggle {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .menu-item {
    font-size: 18px;
    line-height: 1.75;

    .octicon {
      font-size: 18px;
      padding-right: 8px;
    }

    p {
      font-size: 14px;
    }
  }

  .release-version-filter {
    margin-left: 0;
  }

  .container-lg {
    .r-resp-header-narrow {
      display: flex;

      h1 {
        flex: 1;
      }
    }

    .r-resp-header-toggle {
      .octicon {
        font-size: 20px;
        margin-bottom: 4px;
        color: #3a585f;
      }
    }
  }

  .r-resp-header {
    ul > li {
      list-style: none;
      line-height: 1.25;
    }
  }

  .r-menu {
    display: none !important;
  }
}
