@import "./octicons/octicons.scss";
@import "@primer/css/index.scss";

// Variables
@import "variables"; // Electron override

@import "primer-support/index.scss";

// Devicon
@import "vendor/devicon/devicon.css";

// Electron -----------------------------------

@import "base";
@import "hljs/github.css"; // Syntax highlighting
@import "hljs/overrides"; // customization

// @primer/css imports
@import "@primer/css/marketing/index.scss";
@import "@primer/css/utilities/padding.scss";

// Primer local imports
@import "./primer/container.scss";

// Basecoat overrides
@import "./helpers/buttons";
@import "./helpers/tables";
@import "./helpers/code";
@import "./helpers/footer";
@import "./helpers/icons";
@import "./helpers/navigation";
@import "./helpers/page-headers";
@import "./helpers/pagination";
@import "./helpers/section";

// Pages
@import "app";
@import "home";
@import "hero";
@import "docs";
@import "blog";
@import "releases";
@import "devtron";
@import "spectron";
@import "userland";
@import "languages";
@import "search";
@import "versions";
@import "kb-shortcut-dialog";
@import "ui/governance";
@import "ui/landing/fiddle";
