@import "./octicons/octicons.scss";
@import "@primer/css/index.scss";

// Variables
@import "variables"; // Electron override

// Devicon
@import "vendor/devicon/devicon.css";

// Electron -----------------------------------

@import "base";
@import "hljs/github.css"; // Syntax highlighting
@import "hljs/overrides"; // customization

// Basecoat overrides
@import "./helpers/tables";
@import "./helpers/code";
@import "./helpers/footer";
@import "./helpers/icons";
@import "./helpers/navigation";
@import "./helpers/page-headers";

// Pages
@import "app";
@import "home";
@import "hero";
@import "docs";
@import "blog";
@import "releases";
@import "devtron";
@import "spectron";
@import "userland";
@import "languages";
@import "search";
@import "versions";
@import "kb-shortcut-dialog";
@import "ui/landing/fiddle";
