---
permalink: /
layout: default
lang: en
---

  <script src="{{ site.baseurl }}/js/vendor/ua-parser-js-0.7.10.js"></script>
  <script src="{{ site.baseurl }}/js/update-download-link.js"></script>

  <div class="jumbotron jumbotron-home text-center">
    <div class="container">
      {% include hero.html %}
      <p class='jumbotron-lead'>
        {{ site.data.locale.tagline }}
      </p>
    </div>
  </div>

  <div class="subtron py-4 text-center">
    <div class="container">
      <div id="electron-versions" class="electron-versions">

        <!-- find current stable release version in full list of versions -->
        {% for version in site.data.versions %}
          {% if version.version == site.data.releases[0].version %}
            {% assign indexOfCurrentVersion=forloop.index0 %}
          {% endif %}
        {% endfor %}

        <span class="electron-versions-main">Electron: <strong>{{ site.data.releases[0].version }}</strong></span>
        <span>Node: <strong>{{ site.data.versions[indexOfCurrentVersion].node }}</strong></span>
        <span>Chromium: <strong>{{ site.data.versions[indexOfCurrentVersion].chrome }}</strong></span>
        <span>V8: <strong>{{ site.data.versions[indexOfCurrentVersion].v8 }}</strong></span>
      </div>
    </div>
  </div>

  <section class="page-section page-section-spacious" id='electron'>
    <div class="container-narrow">
      <h1 class="text-center-sm">{{ site.data.locale.electron_is_easy.title }}</h1>
      <p class="lead text-center-sm">{{ site.data.locale.electron_is_easy.description }}</p>

      <p class="text-center-sm mt-4">
        <a class="btn btn-lg btn-outline-themed" href="https://youtu.be/8YP_nOCO-4Q">
          <span class="octicon octicon-eye mr-1"></span>
          <span class="label">{{ site.data.locale.electron_is_easy.video_link }}</span>
        </a>
      </p>

      <hr>

      <div class="row text-center text-small mt-6">
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/web-tech.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">{{ site.data.locale.web_technologies.title }}</h3>
          <p>{{ site.data.locale.web_technologies.description }}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/open-source.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">{{ site.data.locale.open_source.title }}</h3>
          <p>{{ site.data.locale.open_source.description }}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/cross-platform.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">{{ site.data.locale.cross_platform.title }}</h3>
          <p>{{ site.data.locale.cross_platform.description }}</p>
        </div>
      </div>

      <div class="row text-center mt-6 mb-4">
        <h2>{{ site.data.locale.hard_parts_made_easy }}</h2>
      </div>

      <div class="row text-center text-small mt-3">
        <div class='col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/auto-updater/">
            <span class="octicon hero-octicon octicon-squirrel" aria-hidden="true"></span>
            {{ site.data.locale.benefits.automatic_updates }}
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/menu/">
            <span class="octicon hero-octicon octicon-device-desktop" aria-hidden="true"></span>
            {{ site.data.locale.benefits.native_menus_and_notifications }}
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/crash-reporter/">
            <span class="octicon hero-octicon octicon-bug" style="padding-left:2px" aria-hidden="true"></span>
            {{ site.data.locale.benefits.crash_reporting }}
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/content-tracing/">
            <span class="octicon hero-octicon octicon-tools" aria-hidden="true"></span>
            {{ site.data.locale.benefits.debugging_and_profiling }}
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/auto-updater/#windows">
            <span class="octicon hero-octicon octicon-gift" style="padding-right:2px" aria-hidden="true"></span>
            {{ site.data.locale.benefits.windows_installers }}
          </a>
        </div>
      </div>

    </div>
  </section>


  <section class='page-section page-section-spacious bg-shade' id='get-started'>
    <div class='container-narrow text-center'>
      <h1>{{ site.data.locale.get_started.title }}</h1>
      <p class="lead">
        {{ site.data.locale.get_started.description }}
      </p>

      <div class='row mt-8'>
        <div class='col-xs-12 col-md-5'>
          <a href="https://github.com/electron/electron-api-demos/releases">
            <div class="app-frame py-4 px-6">
              <img alt="Screenshot of Electron API Demos app" src='{{ site.baseurl }}/images/electron-api-demos.png'>
            </div>
          </a>
        </div>
        <div class='col-xs-12 col-md-7 text-left'>
          <h3 class="mt-1 mb-3">{{ site.data.locale.explore.title }}</h3>
          <p>{{ site.data.locale.explore.description }}</p>
          <p>
            <a id="download-latest-release" class="btn btn-lg btn-outline-themed" href="https://github.com/electron/electron-api-demos/releases">
              <span class="octicon octicon-desktop-download mr-1"></span>
              <span class="label">{{ site.data.locale.download_from_github }}</span>
            </a>
            <p id="download-alternatives" class="text-sm" style="display:none;">
              {{ site.data.locale.view_all_releases_on_github }}
           </p>
          </p>
        </div>
      </div>

      <hr>

    <h3 class="mb-3">
      {{ site.data.locale.quick_start.title }}
    </h3>
    <p>{{ site.data.locale.quick_start.description }}</p>
    
    <figure class="highlight highlight-dark text-left my-4">
<pre><code><span class="c1"># {{ site.data.locale.quick_start.clone }}</span>
$ git clone https://github.com/electron/electron-quick-start

<span class="c1"># {{ site.data.locale.quick_start.go_into_repo }}</span>
$ cd electron-quick-start

<span class="c1"># {{ site.data.locale.quick_start.install_deps }}</span>
$ npm install &amp;&amp; npm start</code></pre>
      </figure>

      <h3>
        {{ site.data.locale.quick_start.dive_deeper }}
      </h3>


      <h3 class="pt-4">{{ site.data.locale.need_help.title }}</h3>
      <p>{{ site.data.locale.need_help.description }}</p>

    </div>
  </section>

  <section class='page-section page-section-spacious' id='apps'>
    <div class="container-narrow text-center">
      <h1> {{ site.data.locale.apps.title }}</h1>
      <p class="lead">
        {{ site.data.locale.apps.description }}
      </p>

      <hr>

      <div>
        <div class="mb-4">
          {% for app in site.data.apps %}
            {% if site.data.featured_apps contains app.slug %}
              {% include featured_app.html %}
            {% endif %}
          {% endfor %}
        </div>
        <p class="mt-6">
          <a href='{{ site.baseurl }}/apps'>{{ site.data.locale.apps.view_more }}</a>
            {{ site.data.locale.or }}
           <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">{{ site.data.locale.apps.submit_your_own }}</a>.
        </p>
      </div>
    </div>
  </section>
