<div class="app-hit-container">
    <div class="type-title">Apps</div>

    <div class="app-hit-header">
      <img src="https://electronjs.org/node_modules/electron-apps/apps/{{slug}}/{{icon32}}">
      <b style="font-size:14pt">{{{name}}}</b>
    </div>
    <div style="font-size:11pt">{{{description}}}</div>
    <div id="app-hit-links">
      <a href={{{website}}}>
        <span class="octicon octicon-link-external" />
      </a>
      <a href={{{repository}}}>
        <span class="octicon octicon-mark-github" />
      </a>
    </div>
</div>
