---
layout: default
---

<div class='subtron text-left'>
  <div class='container-narrow'>
    <h1><span class="mr-3 mr-lg-4">Electron Documentation</span><span class="docs-version">{{ site.data.releases[0].version }}</span></h1>

    <h4 class="docs-breadcrumbs">
      <a href='{{ site.baseurl }}/docs/'>Docs</a>
      {% if page.category != 'ignore' %}
      <span class="docs-breadcrumbs-divider">/</span>
      <a href='{{ site.baseurl }}/docs/{{ page.category | downcase }}/'>{{ page.category }}</a>
      {% endif %}

      {% if page.title != 'README' %}
      <span class="docs-breadcrumbs-divider">/</span>
      {% if page.breadcrumb %}
      {{ page.breadcrumb }}
      {% else %}
      {{ page.title }}
      {% endif %}
      <!-- <a class="ml-4" href='{{ page.source_url }}'><span class="octicon octicon-pencil"></span> Edit source</a> -->
      {% endif %}
    </h4>
  </div>
</div>

{% if page.category == 'API' %}
<div>
  <div class="container-narrow position-relative">
    <ul class="docs-tags">
      <li class="docs-tag">{{ site.data.processes[page.title] }}</li>
    </ul>
  </div>
</div>
{% endif %}

<section class='page-section docs strong-headers'>
  <div class='container-narrow'>

    {{ content }}


    {% if page.category != 'ignore' %}
    <hr>
    <div class='text-center'>
      <span class="d-inline-block text-left">
        <span class="octicon octicon-pencil mr-2"></span>
        See something that needs fixing? Propose a change on the <a href='{{ page.source_url }}'>source</a>.
        <br>
        <span class="octicon octicon-zap mr-2"></span>
        Need a different version of the docs? See the <a href='{{ site.baseurl }}/docs/versions/'>available versions</a> or <a href="https://github.com/electron/electron/tree/master/docs-translations">community translations</a>.
        <br>
        <span class="octicon octicon-book mr-2"></span>
        Want to search all the documentation at once? See all of the <a href='{{ site.baseurl }}/docs/all'>docs on one page</a>.
      </span>
    </div>
    {% endif %}

  </div>
</section>
