---
layout: default
---

<section class='page-section blog-post strong-headers'>
  <div class='container-narrow'>
    <h1>{{ page.title }}</h1>

    <div class="who-when mt-1 mb-4">
      <span class="octicon octicon-calendar pr-2"></span><time>{{ page.date | date: '%B %d, %Y' }}</time>
      <a href="https://github.com/{{ page.author }}" class="author-link ml-3"><img src="https://github.com/{{ page.author }}.png" alt="{{ page.author }}" class="avatar mr-2">{{ page.author }}</a>
    </div>

    {{ content }}

    <div class="bg-shade p-4">
      <p>Have feedback on this post? Let <a target="_blank" href="https://twitter.com/ElectronJS">@ElectronJS</a> know on Twitter.</p>
    </div>
  </div>
</section>
