// App page ------------------------------

.app-header {
  position: relative;
  text-align: center;
}

.app-link {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.app-logo {
  display: inline-block;
  max-width: 128px;
  height: 128px;
}

.app-name {
  margin: 0;
  color: inherit;
  font-size: 2em;
  line-height: 1.1;
}

.app-description {
  margin: .3em 0 0 0;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
}

.app-sreenshot {
  margin: 3rem 0 0 0;
}


.app-details {
  margin: 2rem;

  td {
    padding: 1rem 0;
  }

  td:first-child {
    padding-right: 3rem;
    white-space: nowrap;
    vertical-align: top;
    color: $main-color-subtle;
  }
  td:last-child {
    word-break: break-word;
    border-bottom: 1px solid mix($main-border-color, $main-bg-color);
  }
  tr:last-child td:last-child {
    border-bottom: none;
  }
}

.app-keyword {
  padding: 0.2em 0.4em;
  font-size: 0.85em;
  border-radius: 3px;
  background-color: $main-bg-color-shade;
  &:hover {
    text-decoration: none;
    background-color: darken($main-bg-color-shade, 4%);
  }
}

.app-tagname {
  margin-left: .5em;
  color: $main-color-subtle;
}

.app-download {
  display: inline-block;
  padding: 0.4em .8em;
  border-radius: 3px;
  margin: 0 .5em .5em 0;
  line-height: 1.7;
  border: none;
  &:hover {
    text-decoration: none;
    border-color: lighten($main-link-color, 20%);
  }
}

.app-readme-header {
  margin: 3rem 0;
  text-align: center;
}

.app-readme-button {
  border-color: $main-border-color;
}

.app-readme {
  padding: 3rem;
  border: 1px solid $main-border-color;
  border-radius: 5px;

  .octicon-link {
    display: none;
  }
}

// basecoat filter-list overrides

.filter-list {
  padding: 0;
  margin: 0;
}

.filter-item {
  padding: 4px 8px;
}