
.footer {
  margin-top: auto; // makes footer sticky (with flexbox)
  border-color: darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;
}

.footer a {
  color: $main-color-subtle;
  &:hover {
    color: $main-color;
  }
}

.footer-nav {  
  @include breakpoint(md) {
    float: left;
  }
}

.footer-social {
  @include breakpoint(md) {
    float: right;
  }
}

.footer-social-icon {
  font-size: 130%;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.icon-twitter {
  width: 1.23046875em;
}

.icon-github {
  font-size: 195%;
}
