
.footer {
  margin-top: auto; // makes footer sticky (with flexbox)
  border-color: darken($main-bg-color-shade, 8%);
  background: $main-bg-color-shade;
}

.footer a {
  color: $main-color-subtle;
  &:hover {
    color: $main-color;
  }
}

.footer-nav {
  
  @include breakpoint(md) {
    float: left;
  }
}

.footer-nav-item {
  &.icon {
    text-decoration: none !important;
    border: none !important;
    font-size: 130%;
  }

  .devicon-github-plain {
    font-size: 150%;
  }
}

.footer-love {
  @include breakpoint(md) {
    float: right;
  }
  .octicon-logo-github {
    position: relative;
    bottom: -2px; // visually center
  }
}
