
// Site Header

.site-header {
  color: $jumbo-color;
  background-color: lighten($jumbo-bg-color, 2%);
  border-bottom-color: darken($jumbo-bg-color, 8%);
  -webkit-font-smoothing: antialiased;

  padding-left: $spacer3;
  padding-right: $spacer3;
  @include breakpoint(lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-header a {
  color: inherit;
  transition: all 0.3s;
  &.active,
  &:hover {
    color: $jumbo-color-strong;
  }
  &:active {
    color: $jumbo-color-subtle;
  }
}

.site-header-nav {
  margin-top: 0;
  min-height: 30px;
  line-height: 30px;

  @media (max-width: 699px) {
    line-height: 2.3;
  }

  .mega-octicon {
    min-width: 32px; // stops jumping of the nav when loading the page
  }
}

.site-header-nav-item {
  font-size: 15px;
  border-bottom: 2px solid transparent;

  &.active, &:active, &:hover {
    border-bottom-color: $jumbo-color-strong;
  }

  &.bordered {
    border: 1px solid $jumbo-color-strong;
    border-radius: 3px;
    padding: 0 7px;
    opacity: 0.7;
    font-size: 12px;
    line-height: 2;
  }

  &.octicon {
    border: none !important;
  }
}

// Electron icon
.site-header-icon {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-top: -4px; // visually align
  margin-right: 0.4em;

  .svg-fill {
    fill: currentColor;
  }
  .svg-stroke {
    stroke: currentColor;
    stroke-width: 1.2;
    stroke-linecap: round;
  }
}



// keep it centered a bit longer
@media (min-width: 700px) {
  .site-header { text-align: center; }
  .site-header-logo,
  .site-header-nav {
    float: none;
  }
}
.site-header-logo { @include breakpoint(lg) { float: left; } }
.site-header-nav  { @include breakpoint(lg) { float: right; } }
