.site-header {
  a {
    transition: all 0.3s;
  }
  nav {
    margin-top: 0;
    min-height: 44px;
    line-height: 44px;

    @media (max-width: 699px) {
      line-height: 2.3;
    }
    
    a {
      border-bottom: 2px solid transparent;
    
      &.active, &:active, &:hover {
        border-bottom-color: $jumbo-color-strong;
      }
    
      &.bordered {
        border: 1px solid $jumbo-color-strong;
        border-radius: 3px;
        padding: 0 7px;
        opacity: 0.7;
        font-size: 12px;
        line-height: 2;
      }
    }
    // a
  }
  // nav
}
// .site-header