ul.search-results {
  list-style: none;

  li {
    border-top: 1px solid $border-color;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }
}

span.description {
  opacity: 0.7;
}

span.label {
  font-size: 0.8em;
  display: inline-block;
  color: $main-color-subtle;
  border: 1px solid $main-border-color;
  border-radius: 3px;
  line-height: 1.8;
  vertical-align: inherit;
}

.faint {
  opacity: 0.6;
}

h2 .faint {
  opacity: 0.4;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input{
  border: none;
  outline: none;
  font-size: 72px;
  padding-left: 0px !important
}

.search-form button{
  display: none;
}

.ais-search-box{
  display: inline-block;

}

#search-input{
    background-color: $main-color;
    // background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
    // background-repeat: no-repeat;
    // background-size: 15px;
    // background-position: 5px 10px;
    // width: 30%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-left: 20px;
    // padding-top: 7px;
    // padding-bottom: 5px;
    // padding-left: 25px;
    // transition: width 0.4s ease-in;
}

#search-input:focus {
  background-color: white;
  color: $jumbo-bg-color;
  // width: 100%;
}

#search-input:focus::-webkit-input-placeholder{
  color:white;
}

#hits{
  position: absolute;
  display:flex;
  align-self: center;
  width: 43%;
  margin-top: 4.5%;
  margin-left: 13%;
  height: 140%;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 5px;
  background-color:white;
}

.ais-hits--item{
  background-color: $main-color-subtle
}

.ais-hits--item em {
  background-color: $jumbo-color;
}

 .ais-hits--item {
   padding: 10px;
   border: 1px solid rgb(61, 61, 61);
   border-radius: 3px;
   margin: 5px 0;
 }

  .ais-search-box--magnifier {
    display:none
  }

  .ais-search-box--reset {
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    margin-left: -3.5%;
    padding-top: 5px;
    opacity: 0.2;
    background-color:rgba(0, 0, 0, 0)
  }

  .ais-search-box--reset-wrapper {
    display:inline !important;

  }

::-webkit-input-placeholder{
  color: $jumbo-color;
}


.search-results {
  .search-form {
    justify-content: left
  }
}
