ul.search-results {
  list-style: none;

  li {
    border-top: 1px solid $border-color;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }
}

span.description {
  opacity: 0.7;
}

span.label {
  font-size: 0.8em;
  display: inline-block;
  color: $main-color-subtle;
  border: 1px solid $main-border-color;
  border-radius: 3px;
  line-height: 1.8;
  vertical-align: inherit;
}

.faint {
  opacity: 0.6;
}

h2 .faint {
  opacity: 0.4;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input{
  border: none;
  outline: none;
  font-size: 72px;
  padding-left: 0px !important
}

.search-form button{
  display: none;
}

.nav-search-form{
  display: inline-block;
  margin-left: 20px;
  margin-bottom: -15px;
  margin-right: 20px;
  // border-bottom: 2px solid $jumbo-color-strong;
  font-size: 15px;
}

::-webkit-input-placeholder{
  color: $jumbo-color;
}

::-webkit-input-placeholder:active{
  color:white;
}

.nav-search-form input{
  background-color: $main-color;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}

.nav-search-form input:focus {
  background-color: white;
  color: $jumbo-bg-color;
}

.search-results {
  .search-form {
    justify-content: left
  }
}
