.electron-version-container {
  .electron-version {
    padding: 12px;

    pre {
      max-width: calc(100vw - 50px);
    }

    pre code span.no-select {
      user-select: none;
    }
  }

  @media (min-width: 768px) {
    display: flex;

    .electron-version {
      flex: 1;
      overflow: hidden;
      transition: opacity 0.4s ease-in-out, flex 0.4s ease-in-out;

      &.expanded-version {
        flex: 2
      }

      &.shrunk-version {
        opacity: 0.6;
      }
    }
  }
}
