$octicons-font-path: "../bower_components/octicons/octicons/";
@import "../bower_components/octicons/octicons/octicons.scss";


// Variables
@import "../bower_components/primer-css/scss/variables";
@import "basecoat-variables"; // Basecoat override
@import "variables"; // Electron override


// Global requirements
@import "../bower_components/primer-css/scss/mixins";

@import "./mixins/breakpoints";
@import "./mixins/grid";
@import "./mixins/clearfix";
@import "./mixins/grid-framework";

// Basecoat
@import "../bower_components/primer-css/scss/normalize";
@import "../bower_components/primer-css/scss/base";
@import "../bower_components/primer-css/scss/type";
// @import "../bower_components/primer-css/scss/layout"; // not responsive
// @import "../bower_components/primer-css/scss/forms";

@import "./helpers/layout"; // Basecoat override
@import "./helpers/type"; // Basecoat override

// Components
// @import "../bower_components/primer-css/scss/alerts";
// @import "../bower_components/primer-css/scss/avatars";
// @import "../bower_components/primer-css/scss/blankslate";
// @import "../bower_components/primer-css/scss/counter";
@import "../bower_components/primer-css/scss/buttons";
// @import "../bower_components/primer-css/scss/menu";
// @import "../bower_components/primer-css/scss/tabnav";
@import "../bower_components/primer-css/scss/filter-list";
// @import "../bower_components/primer-css/scss/states";
// @import "../bower_components/primer-css/scss/tooltips";

@import "./helpers/grid";
@import "primer-breadcrumb/index.scss";

// Devicon
@import "vendor/devicon/devicon.css";

// Utilities
@import "../bower_components/primer-css/scss/flex-table";
// @import "../bower_components/primer-css/scss/truncate";
@import "../bower_components/primer-css/scss/utilities/utilities";
@import "./helpers/utility"; // Previously Basecoat override

// Tooltip
@import "../bower_components/simptip.min.css";

// Electron -----------------------------------

@import "base";
@import "hljs/github.css"; // Syntax highlighting
@import "hljs/overrides"; // customization

// Basecoat overrides
@import "./helpers/buttons";
@import "./helpers/tables";
@import "./helpers/code";
@import "./helpers/footer";
@import "./helpers/icons";
@import "./helpers/navigation";
@import "./helpers/page-headers";
@import "./helpers/section";

// Pages
@import "app";
@import "home";
@import "hero";
@import "docs";
@import "blog";
@import "releases";
@import "devtron";
@import "spectron";
@import "userland";
@import "languages";
@import "search";
@import "versions"
